/*
Omnismith API

API Documentation for Omnismith

API version: 1.0.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnismithsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MarketplaceAPI interface {

	/*
	DeleteMarketplaceBlueprint Delete a marketplace blueprint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Blueprint ID
	@return ApiDeleteMarketplaceBlueprintRequest
	*/
	DeleteMarketplaceBlueprint(ctx context.Context, id string) ApiDeleteMarketplaceBlueprintRequest

	// DeleteMarketplaceBlueprintExecute executes the request
	DeleteMarketplaceBlueprintExecute(r ApiDeleteMarketplaceBlueprintRequest) (*http.Response, error)

	/*
	GetMarketplaceBlueprint Get marketplace blueprint details

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Blueprint ID
	@return ApiGetMarketplaceBlueprintRequest
	*/
	GetMarketplaceBlueprint(ctx context.Context, id string) ApiGetMarketplaceBlueprintRequest

	// GetMarketplaceBlueprintExecute executes the request
	//  @return GetMarketplaceBlueprint200Response
	GetMarketplaceBlueprintExecute(r ApiGetMarketplaceBlueprintRequest) (*GetMarketplaceBlueprint200Response, *http.Response, error)

	/*
	InstallMarketplaceBlueprint Install a marketplace blueprint into a project

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Blueprint ID
	@return ApiInstallMarketplaceBlueprintRequest
	*/
	InstallMarketplaceBlueprint(ctx context.Context, id string) ApiInstallMarketplaceBlueprintRequest

	// InstallMarketplaceBlueprintExecute executes the request
	InstallMarketplaceBlueprintExecute(r ApiInstallMarketplaceBlueprintRequest) (*http.Response, error)

	/*
	ListMarketplaceKeywords List all marketplace keywords with blueprint counts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListMarketplaceKeywordsRequest
	*/
	ListMarketplaceKeywords(ctx context.Context) ApiListMarketplaceKeywordsRequest

	// ListMarketplaceKeywordsExecute executes the request
	//  @return ListMarketplaceKeywords200Response
	ListMarketplaceKeywordsExecute(r ApiListMarketplaceKeywordsRequest) (*ListMarketplaceKeywords200Response, *http.Response, error)

	/*
	PublishMarketplaceBlueprint Publish or update a marketplace blueprint

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPublishMarketplaceBlueprintRequest
	*/
	PublishMarketplaceBlueprint(ctx context.Context) ApiPublishMarketplaceBlueprintRequest

	// PublishMarketplaceBlueprintExecute executes the request
	//  @return GetMarketplaceBlueprint200Response
	PublishMarketplaceBlueprintExecute(r ApiPublishMarketplaceBlueprintRequest) (*GetMarketplaceBlueprint200Response, *http.Response, error)

	/*
	SearchMarketplaceBlueprints Search marketplace blueprints

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchMarketplaceBlueprintsRequest
	*/
	SearchMarketplaceBlueprints(ctx context.Context) ApiSearchMarketplaceBlueprintsRequest

	// SearchMarketplaceBlueprintsExecute executes the request
	//  @return SearchMarketplaceBlueprints200Response
	SearchMarketplaceBlueprintsExecute(r ApiSearchMarketplaceBlueprintsRequest) (*SearchMarketplaceBlueprints200Response, *http.Response, error)
}

// MarketplaceAPIService MarketplaceAPI service
type MarketplaceAPIService service

type ApiDeleteMarketplaceBlueprintRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
	id string
}

func (r ApiDeleteMarketplaceBlueprintRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMarketplaceBlueprintExecute(r)
}

/*
DeleteMarketplaceBlueprint Delete a marketplace blueprint

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Blueprint ID
 @return ApiDeleteMarketplaceBlueprintRequest
*/
func (a *MarketplaceAPIService) DeleteMarketplaceBlueprint(ctx context.Context, id string) ApiDeleteMarketplaceBlueprintRequest {
	return ApiDeleteMarketplaceBlueprintRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *MarketplaceAPIService) DeleteMarketplaceBlueprintExecute(r ApiDeleteMarketplaceBlueprintRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.DeleteMarketplaceBlueprint")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/blueprints/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMarketplaceBlueprintRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
	id string
}

func (r ApiGetMarketplaceBlueprintRequest) Execute() (*GetMarketplaceBlueprint200Response, *http.Response, error) {
	return r.ApiService.GetMarketplaceBlueprintExecute(r)
}

/*
GetMarketplaceBlueprint Get marketplace blueprint details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Blueprint ID
 @return ApiGetMarketplaceBlueprintRequest
*/
func (a *MarketplaceAPIService) GetMarketplaceBlueprint(ctx context.Context, id string) ApiGetMarketplaceBlueprintRequest {
	return ApiGetMarketplaceBlueprintRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return GetMarketplaceBlueprint200Response
func (a *MarketplaceAPIService) GetMarketplaceBlueprintExecute(r ApiGetMarketplaceBlueprintRequest) (*GetMarketplaceBlueprint200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMarketplaceBlueprint200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.GetMarketplaceBlueprint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/blueprints/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInstallMarketplaceBlueprintRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
	id string
	installMarketplaceBlueprintRequest *InstallMarketplaceBlueprintRequest
}

func (r ApiInstallMarketplaceBlueprintRequest) InstallMarketplaceBlueprintRequest(installMarketplaceBlueprintRequest InstallMarketplaceBlueprintRequest) ApiInstallMarketplaceBlueprintRequest {
	r.installMarketplaceBlueprintRequest = &installMarketplaceBlueprintRequest
	return r
}

func (r ApiInstallMarketplaceBlueprintRequest) Execute() (*http.Response, error) {
	return r.ApiService.InstallMarketplaceBlueprintExecute(r)
}

/*
InstallMarketplaceBlueprint Install a marketplace blueprint into a project

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Blueprint ID
 @return ApiInstallMarketplaceBlueprintRequest
*/
func (a *MarketplaceAPIService) InstallMarketplaceBlueprint(ctx context.Context, id string) ApiInstallMarketplaceBlueprintRequest {
	return ApiInstallMarketplaceBlueprintRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *MarketplaceAPIService) InstallMarketplaceBlueprintExecute(r ApiInstallMarketplaceBlueprintRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.InstallMarketplaceBlueprint")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/blueprints/{id}/install"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.installMarketplaceBlueprintRequest == nil {
		return nil, reportError("installMarketplaceBlueprintRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.installMarketplaceBlueprintRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListMarketplaceKeywordsRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
}

func (r ApiListMarketplaceKeywordsRequest) Execute() (*ListMarketplaceKeywords200Response, *http.Response, error) {
	return r.ApiService.ListMarketplaceKeywordsExecute(r)
}

/*
ListMarketplaceKeywords List all marketplace keywords with blueprint counts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListMarketplaceKeywordsRequest
*/
func (a *MarketplaceAPIService) ListMarketplaceKeywords(ctx context.Context) ApiListMarketplaceKeywordsRequest {
	return ApiListMarketplaceKeywordsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListMarketplaceKeywords200Response
func (a *MarketplaceAPIService) ListMarketplaceKeywordsExecute(r ApiListMarketplaceKeywordsRequest) (*ListMarketplaceKeywords200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListMarketplaceKeywords200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.ListMarketplaceKeywords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/keywords"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPublishMarketplaceBlueprintRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
	publishMarketplaceBlueprintRequest *PublishMarketplaceBlueprintRequest
}

func (r ApiPublishMarketplaceBlueprintRequest) PublishMarketplaceBlueprintRequest(publishMarketplaceBlueprintRequest PublishMarketplaceBlueprintRequest) ApiPublishMarketplaceBlueprintRequest {
	r.publishMarketplaceBlueprintRequest = &publishMarketplaceBlueprintRequest
	return r
}

func (r ApiPublishMarketplaceBlueprintRequest) Execute() (*GetMarketplaceBlueprint200Response, *http.Response, error) {
	return r.ApiService.PublishMarketplaceBlueprintExecute(r)
}

/*
PublishMarketplaceBlueprint Publish or update a marketplace blueprint

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPublishMarketplaceBlueprintRequest
*/
func (a *MarketplaceAPIService) PublishMarketplaceBlueprint(ctx context.Context) ApiPublishMarketplaceBlueprintRequest {
	return ApiPublishMarketplaceBlueprintRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetMarketplaceBlueprint200Response
func (a *MarketplaceAPIService) PublishMarketplaceBlueprintExecute(r ApiPublishMarketplaceBlueprintRequest) (*GetMarketplaceBlueprint200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMarketplaceBlueprint200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.PublishMarketplaceBlueprint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/blueprints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.publishMarketplaceBlueprintRequest == nil {
		return localVarReturnValue, nil, reportError("publishMarketplaceBlueprintRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.publishMarketplaceBlueprintRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchMarketplaceBlueprintsRequest struct {
	ctx context.Context
	ApiService MarketplaceAPI
	search *string
	keywords *string
	limit *int32
	offset *int32
	sortBy *string
	sortDirection *string
	featured *bool
}

// Free-text search on title and description
func (r ApiSearchMarketplaceBlueprintsRequest) Search(search string) ApiSearchMarketplaceBlueprintsRequest {
	r.search = &search
	return r
}

// Comma-separated keywords to filter by
func (r ApiSearchMarketplaceBlueprintsRequest) Keywords(keywords string) ApiSearchMarketplaceBlueprintsRequest {
	r.keywords = &keywords
	return r
}

// Number of results per page
func (r ApiSearchMarketplaceBlueprintsRequest) Limit(limit int32) ApiSearchMarketplaceBlueprintsRequest {
	r.limit = &limit
	return r
}

// Pagination offset
func (r ApiSearchMarketplaceBlueprintsRequest) Offset(offset int32) ApiSearchMarketplaceBlueprintsRequest {
	r.offset = &offset
	return r
}

// Sort field
func (r ApiSearchMarketplaceBlueprintsRequest) SortBy(sortBy string) ApiSearchMarketplaceBlueprintsRequest {
	r.sortBy = &sortBy
	return r
}

// Sort direction
func (r ApiSearchMarketplaceBlueprintsRequest) SortDirection(sortDirection string) ApiSearchMarketplaceBlueprintsRequest {
	r.sortDirection = &sortDirection
	return r
}

// Filter by featured status
func (r ApiSearchMarketplaceBlueprintsRequest) Featured(featured bool) ApiSearchMarketplaceBlueprintsRequest {
	r.featured = &featured
	return r
}

func (r ApiSearchMarketplaceBlueprintsRequest) Execute() (*SearchMarketplaceBlueprints200Response, *http.Response, error) {
	return r.ApiService.SearchMarketplaceBlueprintsExecute(r)
}

/*
SearchMarketplaceBlueprints Search marketplace blueprints

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchMarketplaceBlueprintsRequest
*/
func (a *MarketplaceAPIService) SearchMarketplaceBlueprints(ctx context.Context) ApiSearchMarketplaceBlueprintsRequest {
	return ApiSearchMarketplaceBlueprintsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchMarketplaceBlueprints200Response
func (a *MarketplaceAPIService) SearchMarketplaceBlueprintsExecute(r ApiSearchMarketplaceBlueprintsRequest) (*SearchMarketplaceBlueprints200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchMarketplaceBlueprints200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MarketplaceAPIService.SearchMarketplaceBlueprints")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/marketplace/blueprints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.keywords != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keywords", r.keywords, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
		var defaultValue string = "created_at"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", defaultValue, "form", "")
		r.sortBy = &defaultValue
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "desc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "form", "")
		r.sortDirection = &defaultValue
	}
	if r.featured != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "featured", r.featured, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
