/*
Omnismith API

API Documentation for Omnismith

API version: 1.0.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnismithsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


type FileAttachmentAPI interface {

	/*
	DeleteFileAttachment Delete a file attachment

	Permanently deletes a file attachment and its stored content from disk. If the file is referenced by entity attribute values (file or image data type), those references will become stale. Returns 204 on success.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id File attachment UUID to delete
	@return ApiDeleteFileAttachmentRequest
	*/
	DeleteFileAttachment(ctx context.Context, id string) ApiDeleteFileAttachmentRequest

	// DeleteFileAttachmentExecute executes the request
	DeleteFileAttachmentExecute(r ApiDeleteFileAttachmentRequest) (*http.Response, error)

	/*
	DownloadFileAttachment Download a file attachment

	Returns the raw binary file content for a given file attachment ID. The response Content-Type header matches the original uploaded file MIME type. The file must belong to the authenticated user's project.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique UUID identifier of the file attachment to download
	@return ApiDownloadFileAttachmentRequest
	*/
	DownloadFileAttachment(ctx context.Context, id string) ApiDownloadFileAttachmentRequest

	// DownloadFileAttachmentExecute executes the request
	DownloadFileAttachmentExecute(r ApiDownloadFileAttachmentRequest) (*http.Response, error)

	/*
	GetFileAttachmentMetadata Get file metadata without downloading content

	Returns metadata for a file attachment (original filename, MIME type, file size in bytes, upload timestamp, context) without streaming the binary content. Use this to inspect file properties before deciding whether to download.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique UUID identifier of the file attachment
	@return ApiGetFileAttachmentMetadataRequest
	*/
	GetFileAttachmentMetadata(ctx context.Context, id string) ApiGetFileAttachmentMetadataRequest

	// GetFileAttachmentMetadataExecute executes the request
	//  @return FileAttachmentResponse
	GetFileAttachmentMetadataExecute(r ApiGetFileAttachmentMetadataRequest) (*FileAttachmentResponse, *http.Response, error)

	/*
	GetFileAttachmentThumbnail Get image thumbnail

	Generates and returns a resized thumbnail for image-type file attachments (JPEG, PNG, WebP, GIF). Optional `width` and `height` query parameters control output dimensions (range 50–1000px, default 200×200). Returns 400 if the file is not an image type. The thumbnail is returned as JPEG binary.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique UUID identifier of the image file attachment
	@return ApiGetFileAttachmentThumbnailRequest
	*/
	GetFileAttachmentThumbnail(ctx context.Context, id string) ApiGetFileAttachmentThumbnailRequest

	// GetFileAttachmentThumbnailExecute executes the request
	GetFileAttachmentThumbnailExecute(r ApiGetFileAttachmentThumbnailRequest) (*http.Response, error)

	/*
	UploadFileAttachment Upload a file attachment

	Uploads a file as a multipart/form-data request. Supported MIME types include images (JPEG, PNG, WebP, GIF, SVG), documents (PDF), spreadsheets (CSV, XLSX), and structured data (JSON, YAML). An optional pre-generated UUIDv7 `id` can be supplied; otherwise the server generates one. The `context` field controls storage lifecycle: "entity" files are permanent, "chat" files are temporary with configurable `ttl_hours` (default 48h). Returns the file metadata including the assigned ID for use in entity attribute values.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUploadFileAttachmentRequest
	*/
	UploadFileAttachment(ctx context.Context) ApiUploadFileAttachmentRequest

	// UploadFileAttachmentExecute executes the request
	//  @return FileAttachmentResponse
	UploadFileAttachmentExecute(r ApiUploadFileAttachmentRequest) (*FileAttachmentResponse, *http.Response, error)
}

// FileAttachmentAPIService FileAttachmentAPI service
type FileAttachmentAPIService service

type ApiDeleteFileAttachmentRequest struct {
	ctx context.Context
	ApiService FileAttachmentAPI
	id string
}

func (r ApiDeleteFileAttachmentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteFileAttachmentExecute(r)
}

/*
DeleteFileAttachment Delete a file attachment

Permanently deletes a file attachment and its stored content from disk. If the file is referenced by entity attribute values (file or image data type), those references will become stale. Returns 204 on success.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id File attachment UUID to delete
 @return ApiDeleteFileAttachmentRequest
*/
func (a *FileAttachmentAPIService) DeleteFileAttachment(ctx context.Context, id string) ApiDeleteFileAttachmentRequest {
	return ApiDeleteFileAttachmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *FileAttachmentAPIService) DeleteFileAttachmentExecute(r ApiDeleteFileAttachmentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAttachmentAPIService.DeleteFileAttachment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/file-attachments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDownloadFileAttachmentRequest struct {
	ctx context.Context
	ApiService FileAttachmentAPI
	id string
}

func (r ApiDownloadFileAttachmentRequest) Execute() (*http.Response, error) {
	return r.ApiService.DownloadFileAttachmentExecute(r)
}

/*
DownloadFileAttachment Download a file attachment

Returns the raw binary file content for a given file attachment ID. The response Content-Type header matches the original uploaded file MIME type. The file must belong to the authenticated user's project.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Unique UUID identifier of the file attachment to download
 @return ApiDownloadFileAttachmentRequest
*/
func (a *FileAttachmentAPIService) DownloadFileAttachment(ctx context.Context, id string) ApiDownloadFileAttachmentRequest {
	return ApiDownloadFileAttachmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *FileAttachmentAPIService) DownloadFileAttachmentExecute(r ApiDownloadFileAttachmentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAttachmentAPIService.DownloadFileAttachment")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/file-attachments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetFileAttachmentMetadataRequest struct {
	ctx context.Context
	ApiService FileAttachmentAPI
	id string
}

func (r ApiGetFileAttachmentMetadataRequest) Execute() (*FileAttachmentResponse, *http.Response, error) {
	return r.ApiService.GetFileAttachmentMetadataExecute(r)
}

/*
GetFileAttachmentMetadata Get file metadata without downloading content

Returns metadata for a file attachment (original filename, MIME type, file size in bytes, upload timestamp, context) without streaming the binary content. Use this to inspect file properties before deciding whether to download.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Unique UUID identifier of the file attachment
 @return ApiGetFileAttachmentMetadataRequest
*/
func (a *FileAttachmentAPIService) GetFileAttachmentMetadata(ctx context.Context, id string) ApiGetFileAttachmentMetadataRequest {
	return ApiGetFileAttachmentMetadataRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return FileAttachmentResponse
func (a *FileAttachmentAPIService) GetFileAttachmentMetadataExecute(r ApiGetFileAttachmentMetadataRequest) (*FileAttachmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileAttachmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAttachmentAPIService.GetFileAttachmentMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/file-attachments/{id}/metadata"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFileAttachmentThumbnailRequest struct {
	ctx context.Context
	ApiService FileAttachmentAPI
	id string
	width *int32
	height *int32
}

// Target thumbnail width in pixels (range 50 to 1000, default 200)
func (r ApiGetFileAttachmentThumbnailRequest) Width(width int32) ApiGetFileAttachmentThumbnailRequest {
	r.width = &width
	return r
}

// Target thumbnail height in pixels (range 50 to 1000, default 200)
func (r ApiGetFileAttachmentThumbnailRequest) Height(height int32) ApiGetFileAttachmentThumbnailRequest {
	r.height = &height
	return r
}

func (r ApiGetFileAttachmentThumbnailRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFileAttachmentThumbnailExecute(r)
}

/*
GetFileAttachmentThumbnail Get image thumbnail

Generates and returns a resized thumbnail for image-type file attachments (JPEG, PNG, WebP, GIF). Optional `width` and `height` query parameters control output dimensions (range 50–1000px, default 200×200). Returns 400 if the file is not an image type. The thumbnail is returned as JPEG binary.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Unique UUID identifier of the image file attachment
 @return ApiGetFileAttachmentThumbnailRequest
*/
func (a *FileAttachmentAPIService) GetFileAttachmentThumbnail(ctx context.Context, id string) ApiGetFileAttachmentThumbnailRequest {
	return ApiGetFileAttachmentThumbnailRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *FileAttachmentAPIService) GetFileAttachmentThumbnailExecute(r ApiGetFileAttachmentThumbnailRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAttachmentAPIService.GetFileAttachmentThumbnail")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/file-attachments/{id}/thumbnail"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.width != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", r.width, "form", "")
	} else {
		var defaultValue int32 = 200
		parameterAddToHeaderOrQuery(localVarQueryParams, "width", defaultValue, "form", "")
		r.width = &defaultValue
	}
	if r.height != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", r.height, "form", "")
	} else {
		var defaultValue int32 = 200
		parameterAddToHeaderOrQuery(localVarQueryParams, "height", defaultValue, "form", "")
		r.height = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/jpeg"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUploadFileAttachmentRequest struct {
	ctx context.Context
	ApiService FileAttachmentAPI
	file *os.File
	id *string
	context *string
	ttlHours *int32
}

func (r ApiUploadFileAttachmentRequest) File(file *os.File) ApiUploadFileAttachmentRequest {
	r.file = file
	return r
}

func (r ApiUploadFileAttachmentRequest) Id(id string) ApiUploadFileAttachmentRequest {
	r.id = &id
	return r
}

func (r ApiUploadFileAttachmentRequest) Context(context string) ApiUploadFileAttachmentRequest {
	r.context = &context
	return r
}

func (r ApiUploadFileAttachmentRequest) TtlHours(ttlHours int32) ApiUploadFileAttachmentRequest {
	r.ttlHours = &ttlHours
	return r
}

func (r ApiUploadFileAttachmentRequest) Execute() (*FileAttachmentResponse, *http.Response, error) {
	return r.ApiService.UploadFileAttachmentExecute(r)
}

/*
UploadFileAttachment Upload a file attachment

Uploads a file as a multipart/form-data request. Supported MIME types include images (JPEG, PNG, WebP, GIF, SVG), documents (PDF), spreadsheets (CSV, XLSX), and structured data (JSON, YAML). An optional pre-generated UUIDv7 `id` can be supplied; otherwise the server generates one. The `context` field controls storage lifecycle: "entity" files are permanent, "chat" files are temporary with configurable `ttl_hours` (default 48h). Returns the file metadata including the assigned ID for use in entity attribute values.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUploadFileAttachmentRequest
*/
func (a *FileAttachmentAPIService) UploadFileAttachment(ctx context.Context) ApiUploadFileAttachmentRequest {
	return ApiUploadFileAttachmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FileAttachmentResponse
func (a *FileAttachmentAPIService) UploadFileAttachmentExecute(r ApiUploadFileAttachmentRequest) (*FileAttachmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FileAttachmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FileAttachmentAPIService.UploadFileAttachment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/file-attachments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "id", r.id, "", "")
	}
	if r.context != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "context", r.context, "", "")
	}
	if r.ttlHours != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "ttl_hours", r.ttlHours, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
