/*
Omnismith API

API Documentation for Omnismith

API version: 1.0.12
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnismithsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type OAuthAPI interface {

	/*
	ApproveOAuthAuthorization Approve OAuth Authorization Consent

	Approves client access to a specific Omnismith project and generates an authorization code.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiApproveOAuthAuthorizationRequest
	*/
	ApproveOAuthAuthorization(ctx context.Context) ApiApproveOAuthAuthorizationRequest

	// ApproveOAuthAuthorizationExecute executes the request
	//  @return ApproveOAuthAuthorization200Response
	ApproveOAuthAuthorizationExecute(r ApiApproveOAuthAuthorizationRequest) (*ApproveOAuthAuthorization200Response, *http.Response, error)

	/*
	ExchangeOAuthToken Exchange OAuth 2.0 Token

	Exchanges an authorization code or refresh token for a standard RS256 JWT access token (RFC 6749 / RFC 7636).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiExchangeOAuthTokenRequest
	*/
	ExchangeOAuthToken(ctx context.Context) ApiExchangeOAuthTokenRequest

	// ExchangeOAuthTokenExecute executes the request
	//  @return ExchangeOAuthToken200Response
	ExchangeOAuthTokenExecute(r ApiExchangeOAuthTokenRequest) (*ExchangeOAuthToken200Response, *http.Response, error)

	/*
	GetJwks Get JSON Web Key Set

	Returns the JSON Web Key Set (RFC 7517) containing the active public cryptographic keys used to verify RS256 JWT access tokens issued by the platform.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetJwksRequest
	*/
	GetJwks(ctx context.Context) ApiGetJwksRequest

	// GetJwksExecute executes the request
	//  @return GetJwks200Response
	GetJwksExecute(r ApiGetJwksRequest) (*GetJwks200Response, *http.Response, error)

	/*
	GetOAuthAuthorizeInfo Get OAuth Authorization Consent Screen Info

	Retrieves client metadata, requested scopes, verified user identity, and accessible projects to render the OAuth consent interface.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOAuthAuthorizeInfoRequest
	*/
	GetOAuthAuthorizeInfo(ctx context.Context) ApiGetOAuthAuthorizeInfoRequest

	// GetOAuthAuthorizeInfoExecute executes the request
	//  @return GetOAuthAuthorizeInfo200Response
	GetOAuthAuthorizeInfoExecute(r ApiGetOAuthAuthorizeInfoRequest) (*GetOAuthAuthorizeInfo200Response, *http.Response, error)

	/*
	GetOAuthServerMetadata Get OAuth Authorization Server Metadata

	Returns OAuth 2.0 Authorization Server Metadata (RFC 8414) defining the endpoints, supported grant types, and PKCE challenge methods for automated client configuration.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetOAuthServerMetadataRequest
	*/
	GetOAuthServerMetadata(ctx context.Context) ApiGetOAuthServerMetadataRequest

	// GetOAuthServerMetadataExecute executes the request
	//  @return GetOAuthServerMetadata200Response
	GetOAuthServerMetadataExecute(r ApiGetOAuthServerMetadataRequest) (*GetOAuthServerMetadata200Response, *http.Response, error)

	/*
	RegisterOAuthClient Register Dynamic OAuth Client

	Dynamically registers a new OAuth client per RFC 7591 (Dynamic Client Registration). Generates unique client credentials and registers authorized callback redirection URIs.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRegisterOAuthClientRequest
	*/
	RegisterOAuthClient(ctx context.Context) ApiRegisterOAuthClientRequest

	// RegisterOAuthClientExecute executes the request
	//  @return RegisterOAuthClient201Response
	RegisterOAuthClientExecute(r ApiRegisterOAuthClientRequest) (*RegisterOAuthClient201Response, *http.Response, error)

	/*
	RevokeOAuthToken Revoke OAuth Token

	Revokes an issued OAuth access token or refresh token per RFC 7009 (Token Revocation). Returns success even if the token was already revoked or expired.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRevokeOAuthTokenRequest
	*/
	RevokeOAuthToken(ctx context.Context) ApiRevokeOAuthTokenRequest

	// RevokeOAuthTokenExecute executes the request
	//  @return RevokeOAuthToken200Response
	RevokeOAuthTokenExecute(r ApiRevokeOAuthTokenRequest) (*RevokeOAuthToken200Response, *http.Response, error)
}

// OAuthAPIService OAuthAPI service
type OAuthAPIService service

type ApiApproveOAuthAuthorizationRequest struct {
	ctx context.Context
	ApiService OAuthAPI
	approveOAuthAuthorizationRequest *ApproveOAuthAuthorizationRequest
}

func (r ApiApproveOAuthAuthorizationRequest) ApproveOAuthAuthorizationRequest(approveOAuthAuthorizationRequest ApproveOAuthAuthorizationRequest) ApiApproveOAuthAuthorizationRequest {
	r.approveOAuthAuthorizationRequest = &approveOAuthAuthorizationRequest
	return r
}

func (r ApiApproveOAuthAuthorizationRequest) Execute() (*ApproveOAuthAuthorization200Response, *http.Response, error) {
	return r.ApiService.ApproveOAuthAuthorizationExecute(r)
}

/*
ApproveOAuthAuthorization Approve OAuth Authorization Consent

Approves client access to a specific Omnismith project and generates an authorization code.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApproveOAuthAuthorizationRequest
*/
func (a *OAuthAPIService) ApproveOAuthAuthorization(ctx context.Context) ApiApproveOAuthAuthorizationRequest {
	return ApiApproveOAuthAuthorizationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApproveOAuthAuthorization200Response
func (a *OAuthAPIService) ApproveOAuthAuthorizationExecute(r ApiApproveOAuthAuthorizationRequest) (*ApproveOAuthAuthorization200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApproveOAuthAuthorization200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.ApproveOAuthAuthorization")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/authorize/approve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.approveOAuthAuthorizationRequest == nil {
		return localVarReturnValue, nil, reportError("approveOAuthAuthorizationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.approveOAuthAuthorizationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExchangeOAuthTokenRequest struct {
	ctx context.Context
	ApiService OAuthAPI
	oAuthTokenRequest *OAuthTokenRequest
}

func (r ApiExchangeOAuthTokenRequest) OAuthTokenRequest(oAuthTokenRequest OAuthTokenRequest) ApiExchangeOAuthTokenRequest {
	r.oAuthTokenRequest = &oAuthTokenRequest
	return r
}

func (r ApiExchangeOAuthTokenRequest) Execute() (*ExchangeOAuthToken200Response, *http.Response, error) {
	return r.ApiService.ExchangeOAuthTokenExecute(r)
}

/*
ExchangeOAuthToken Exchange OAuth 2.0 Token

Exchanges an authorization code or refresh token for a standard RS256 JWT access token (RFC 6749 / RFC 7636).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExchangeOAuthTokenRequest
*/
func (a *OAuthAPIService) ExchangeOAuthToken(ctx context.Context) ApiExchangeOAuthTokenRequest {
	return ApiExchangeOAuthTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExchangeOAuthToken200Response
func (a *OAuthAPIService) ExchangeOAuthTokenExecute(r ApiExchangeOAuthTokenRequest) (*ExchangeOAuthToken200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExchangeOAuthToken200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.ExchangeOAuthToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.oAuthTokenRequest == nil {
		return localVarReturnValue, nil, reportError("oAuthTokenRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.oAuthTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetJwksRequest struct {
	ctx context.Context
	ApiService OAuthAPI
}

func (r ApiGetJwksRequest) Execute() (*GetJwks200Response, *http.Response, error) {
	return r.ApiService.GetJwksExecute(r)
}

/*
GetJwks Get JSON Web Key Set

Returns the JSON Web Key Set (RFC 7517) containing the active public cryptographic keys used to verify RS256 JWT access tokens issued by the platform.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetJwksRequest
*/
func (a *OAuthAPIService) GetJwks(ctx context.Context) ApiGetJwksRequest {
	return ApiGetJwksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetJwks200Response
func (a *OAuthAPIService) GetJwksExecute(r ApiGetJwksRequest) (*GetJwks200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetJwks200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.GetJwks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/jwks.json"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOAuthAuthorizeInfoRequest struct {
	ctx context.Context
	ApiService OAuthAPI
	clientId *string
	redirectUri *string
	responseType *string
	scope *string
	codeChallenge *string
	codeChallengeMethod *string
	state *string
}

// Registered OAuth client identifier
func (r ApiGetOAuthAuthorizeInfoRequest) ClientId(clientId string) ApiGetOAuthAuthorizeInfoRequest {
	r.clientId = &clientId
	return r
}

// Target redirection URI matching registered client URIs
func (r ApiGetOAuthAuthorizeInfoRequest) RedirectUri(redirectUri string) ApiGetOAuthAuthorizeInfoRequest {
	r.redirectUri = &redirectUri
	return r
}

// OAuth response type (must be \&quot;code\&quot;)
func (r ApiGetOAuthAuthorizeInfoRequest) ResponseType(responseType string) ApiGetOAuthAuthorizeInfoRequest {
	r.responseType = &responseType
	return r
}

// Space-delimited requested scopes
func (r ApiGetOAuthAuthorizeInfoRequest) Scope(scope string) ApiGetOAuthAuthorizeInfoRequest {
	r.scope = &scope
	return r
}

// PKCE code challenge string (RFC 7636)
func (r ApiGetOAuthAuthorizeInfoRequest) CodeChallenge(codeChallenge string) ApiGetOAuthAuthorizeInfoRequest {
	r.codeChallenge = &codeChallenge
	return r
}

// PKCE code challenge transformation method
func (r ApiGetOAuthAuthorizeInfoRequest) CodeChallengeMethod(codeChallengeMethod string) ApiGetOAuthAuthorizeInfoRequest {
	r.codeChallengeMethod = &codeChallengeMethod
	return r
}

// Opaque client state parameter for CSRF mitigation
func (r ApiGetOAuthAuthorizeInfoRequest) State(state string) ApiGetOAuthAuthorizeInfoRequest {
	r.state = &state
	return r
}

func (r ApiGetOAuthAuthorizeInfoRequest) Execute() (*GetOAuthAuthorizeInfo200Response, *http.Response, error) {
	return r.ApiService.GetOAuthAuthorizeInfoExecute(r)
}

/*
GetOAuthAuthorizeInfo Get OAuth Authorization Consent Screen Info

Retrieves client metadata, requested scopes, verified user identity, and accessible projects to render the OAuth consent interface.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOAuthAuthorizeInfoRequest
*/
func (a *OAuthAPIService) GetOAuthAuthorizeInfo(ctx context.Context) ApiGetOAuthAuthorizeInfoRequest {
	return ApiGetOAuthAuthorizeInfoRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetOAuthAuthorizeInfo200Response
func (a *OAuthAPIService) GetOAuthAuthorizeInfoExecute(r ApiGetOAuthAuthorizeInfoRequest) (*GetOAuthAuthorizeInfo200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetOAuthAuthorizeInfo200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.GetOAuthAuthorizeInfo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/authorize/info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.clientId == nil {
		return localVarReturnValue, nil, reportError("clientId is required and must be specified")
	}
	if r.redirectUri == nil {
		return localVarReturnValue, nil, reportError("redirectUri is required and must be specified")
	}
	if r.responseType == nil {
		return localVarReturnValue, nil, reportError("responseType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "client_id", r.clientId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "redirect_uri", r.redirectUri, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "response_type", r.responseType, "form", "")
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.codeChallenge != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge", r.codeChallenge, "form", "")
	}
	if r.codeChallengeMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge_method", r.codeChallengeMethod, "form", "")
	} else {
		var defaultValue string = "S256"
		parameterAddToHeaderOrQuery(localVarQueryParams, "code_challenge_method", defaultValue, "form", "")
		r.codeChallengeMethod = &defaultValue
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOAuthServerMetadataRequest struct {
	ctx context.Context
	ApiService OAuthAPI
}

func (r ApiGetOAuthServerMetadataRequest) Execute() (*GetOAuthServerMetadata200Response, *http.Response, error) {
	return r.ApiService.GetOAuthServerMetadataExecute(r)
}

/*
GetOAuthServerMetadata Get OAuth Authorization Server Metadata

Returns OAuth 2.0 Authorization Server Metadata (RFC 8414) defining the endpoints, supported grant types, and PKCE challenge methods for automated client configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOAuthServerMetadataRequest
*/
func (a *OAuthAPIService) GetOAuthServerMetadata(ctx context.Context) ApiGetOAuthServerMetadataRequest {
	return ApiGetOAuthServerMetadataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetOAuthServerMetadata200Response
func (a *OAuthAPIService) GetOAuthServerMetadataExecute(r ApiGetOAuthServerMetadataRequest) (*GetOAuthServerMetadata200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetOAuthServerMetadata200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.GetOAuthServerMetadata")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/.well-known/oauth-authorization-server"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRegisterOAuthClientRequest struct {
	ctx context.Context
	ApiService OAuthAPI
	registerOAuthClientRequest *RegisterOAuthClientRequest
}

func (r ApiRegisterOAuthClientRequest) RegisterOAuthClientRequest(registerOAuthClientRequest RegisterOAuthClientRequest) ApiRegisterOAuthClientRequest {
	r.registerOAuthClientRequest = &registerOAuthClientRequest
	return r
}

func (r ApiRegisterOAuthClientRequest) Execute() (*RegisterOAuthClient201Response, *http.Response, error) {
	return r.ApiService.RegisterOAuthClientExecute(r)
}

/*
RegisterOAuthClient Register Dynamic OAuth Client

Dynamically registers a new OAuth client per RFC 7591 (Dynamic Client Registration). Generates unique client credentials and registers authorized callback redirection URIs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRegisterOAuthClientRequest
*/
func (a *OAuthAPIService) RegisterOAuthClient(ctx context.Context) ApiRegisterOAuthClientRequest {
	return ApiRegisterOAuthClientRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RegisterOAuthClient201Response
func (a *OAuthAPIService) RegisterOAuthClientExecute(r ApiRegisterOAuthClientRequest) (*RegisterOAuthClient201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RegisterOAuthClient201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.RegisterOAuthClient")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/register"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.registerOAuthClientRequest == nil {
		return localVarReturnValue, nil, reportError("registerOAuthClientRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.registerOAuthClientRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRevokeOAuthTokenRequest struct {
	ctx context.Context
	ApiService OAuthAPI
	revokeOAuthTokenRequest *RevokeOAuthTokenRequest
}

func (r ApiRevokeOAuthTokenRequest) RevokeOAuthTokenRequest(revokeOAuthTokenRequest RevokeOAuthTokenRequest) ApiRevokeOAuthTokenRequest {
	r.revokeOAuthTokenRequest = &revokeOAuthTokenRequest
	return r
}

func (r ApiRevokeOAuthTokenRequest) Execute() (*RevokeOAuthToken200Response, *http.Response, error) {
	return r.ApiService.RevokeOAuthTokenExecute(r)
}

/*
RevokeOAuthToken Revoke OAuth Token

Revokes an issued OAuth access token or refresh token per RFC 7009 (Token Revocation). Returns success even if the token was already revoked or expired.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRevokeOAuthTokenRequest
*/
func (a *OAuthAPIService) RevokeOAuthToken(ctx context.Context) ApiRevokeOAuthTokenRequest {
	return ApiRevokeOAuthTokenRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RevokeOAuthToken200Response
func (a *OAuthAPIService) RevokeOAuthTokenExecute(r ApiRevokeOAuthTokenRequest) (*RevokeOAuthToken200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RevokeOAuthToken200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OAuthAPIService.RevokeOAuthToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oauth/revoke"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.revokeOAuthTokenRequest == nil {
		return localVarReturnValue, nil, reportError("revokeOAuthTokenRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.revokeOAuthTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
