/*
Omnismith API

API Documentation for Omnismith

API version: 1.0.11
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package omnismithsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type BIAPI interface {

	/*
	GetBiSchema Get BI schema catalog

	Returns a normalized metadata catalog of all template schemas and dynamic attribute definitions in the current workspace context.

### BI Tooling Compatibility
Designed for BI connectors (PowerBI, Tableau, Looker Studio, Metabase) and ETL ingestion pipelines. Translates dynamic template schemas into relational column definitions, data types (`string`, `number`, `boolean`, `datetime`, `date`), reference join keys, and allowed list options.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetBiSchemaRequest
	*/
	GetBiSchema(ctx context.Context) ApiGetBiSchemaRequest

	// GetBiSchemaExecute executes the request
	//  @return BiSchemaResponse
	GetBiSchemaExecute(r ApiGetBiSchemaRequest) (*BiSchemaResponse, *http.Response, error)

	/*
	ListBiTemplateRows List flattened template rows for BI integration

	Returns a flattened, relational row-based live dataset for a template, optimized for BI dashboards, spreadsheets, and reporting tools.

### Tabular Data Model
Transforms dynamic entity records into flat rows where columns correspond to the attribute definitions retrieved from `GET /bi/schema`.

### Filter & Search Model
Supports structured `filters` (operators: `eq`, `neq`, `gt`, `lt`, `like`, `not-like`, `empty`, `not-empty`) and `global_search` text queries.

### Sorting & Pagination
- `sort_field`: Attribute UUID, slug, or standard column (`id`, `created_at`, `updated_at`, `deleted_at`).
- `sort_direction`: `asc` or `desc`.
- `limit` (max 100) and `offset` pagination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param templateId Unique identifier (UUID) of the template schema to query
	@return ApiListBiTemplateRowsRequest
	*/
	ListBiTemplateRows(ctx context.Context, templateId string) ApiListBiTemplateRowsRequest

	// ListBiTemplateRowsExecute executes the request
	//  @return BiTemplateRowsResponse
	ListBiTemplateRowsExecute(r ApiListBiTemplateRowsRequest) (*BiTemplateRowsResponse, *http.Response, error)

	/*
	ListBiTemplateTimeSeries List aggregated time-series rows for BI integration

	Returns aggregated, time-bucketed metric data points across entities of a template schema for BI and analytical visualization tools.

### Combined Dimension Filtering & Metric Aggregation
Combines entity dimension filtering (scoped via the `filters` and `global_search` body payload) with time-series rollup across the specified `attribute_ids`.

### Aggregation Functions (`aggregate_func`)
- `avg` (default), `sum`, `min`, `max`, `count`, `first`, `last`.

### Bucket Intervals (`bucket_width`)
Values follow standard time interval notation: `1 second`, `5 seconds`, `10 seconds`, `1 minute` (1m), `5 minutes` (5m), `10 minutes`, `15 minutes`, `30 minutes`, `1 hour` (1h), `6 hours`, `12 hours`, `1 day` (1d), `1 week`, `1 month`.

### Query Window (`start` & `end`)
Specified as integer Unix epoch seconds bounding the telemetry observations.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param templateId Unique identifier (UUID) of the template schema
	@return ApiListBiTemplateTimeSeriesRequest
	*/
	ListBiTemplateTimeSeries(ctx context.Context, templateId string) ApiListBiTemplateTimeSeriesRequest

	// ListBiTemplateTimeSeriesExecute executes the request
	//  @return BiTimeSeriesResponse
	ListBiTemplateTimeSeriesExecute(r ApiListBiTemplateTimeSeriesRequest) (*BiTimeSeriesResponse, *http.Response, error)
}

// BIAPIService BIAPI service
type BIAPIService service

type ApiGetBiSchemaRequest struct {
	ctx context.Context
	ApiService BIAPI
}

func (r ApiGetBiSchemaRequest) Execute() (*BiSchemaResponse, *http.Response, error) {
	return r.ApiService.GetBiSchemaExecute(r)
}

/*
GetBiSchema Get BI schema catalog

Returns a normalized metadata catalog of all template schemas and dynamic attribute definitions in the current workspace context.

### BI Tooling Compatibility
Designed for BI connectors (PowerBI, Tableau, Looker Studio, Metabase) and ETL ingestion pipelines. Translates dynamic template schemas into relational column definitions, data types (`string`, `number`, `boolean`, `datetime`, `date`), reference join keys, and allowed list options.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetBiSchemaRequest
*/
func (a *BIAPIService) GetBiSchema(ctx context.Context) ApiGetBiSchemaRequest {
	return ApiGetBiSchemaRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BiSchemaResponse
func (a *BIAPIService) GetBiSchemaExecute(r ApiGetBiSchemaRequest) (*BiSchemaResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BiSchemaResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BIAPIService.GetBiSchema")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bi/schema"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBiTemplateRowsRequest struct {
	ctx context.Context
	ApiService BIAPI
	templateId string
	biListTemplateRowsRequest *BiListTemplateRowsRequest
	limit *int32
	offset *int32
	sortField *string
	sortDirection *string
}

func (r ApiListBiTemplateRowsRequest) BiListTemplateRowsRequest(biListTemplateRowsRequest BiListTemplateRowsRequest) ApiListBiTemplateRowsRequest {
	r.biListTemplateRowsRequest = &biListTemplateRowsRequest
	return r
}

// Maximum number of rows to return per page (1-100)
func (r ApiListBiTemplateRowsRequest) Limit(limit int32) ApiListBiTemplateRowsRequest {
	r.limit = &limit
	return r
}

// Zero-based pagination offset
func (r ApiListBiTemplateRowsRequest) Offset(offset int32) ApiListBiTemplateRowsRequest {
	r.offset = &offset
	return r
}

// Attribute UUID, slug, or standard field (id, created_at, updated_at, deleted_at) to sort by
func (r ApiListBiTemplateRowsRequest) SortField(sortField string) ApiListBiTemplateRowsRequest {
	r.sortField = &sortField
	return r
}

// Sort direction: \&quot;asc\&quot; (ascending) or \&quot;desc\&quot; (descending)
func (r ApiListBiTemplateRowsRequest) SortDirection(sortDirection string) ApiListBiTemplateRowsRequest {
	r.sortDirection = &sortDirection
	return r
}

func (r ApiListBiTemplateRowsRequest) Execute() (*BiTemplateRowsResponse, *http.Response, error) {
	return r.ApiService.ListBiTemplateRowsExecute(r)
}

/*
ListBiTemplateRows List flattened template rows for BI integration

Returns a flattened, relational row-based live dataset for a template, optimized for BI dashboards, spreadsheets, and reporting tools.

### Tabular Data Model
Transforms dynamic entity records into flat rows where columns correspond to the attribute definitions retrieved from `GET /bi/schema`.

### Filter & Search Model
Supports structured `filters` (operators: `eq`, `neq`, `gt`, `lt`, `like`, `not-like`, `empty`, `not-empty`) and `global_search` text queries.

### Sorting & Pagination
- `sort_field`: Attribute UUID, slug, or standard column (`id`, `created_at`, `updated_at`, `deleted_at`).
- `sort_direction`: `asc` or `desc`.
- `limit` (max 100) and `offset` pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId Unique identifier (UUID) of the template schema to query
 @return ApiListBiTemplateRowsRequest
*/
func (a *BIAPIService) ListBiTemplateRows(ctx context.Context, templateId string) ApiListBiTemplateRowsRequest {
	return ApiListBiTemplateRowsRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return BiTemplateRowsResponse
func (a *BIAPIService) ListBiTemplateRowsExecute(r ApiListBiTemplateRowsRequest) (*BiTemplateRowsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BiTemplateRowsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BIAPIService.ListBiTemplateRows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bi/templates/{template_id}/rows"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.biListTemplateRowsRequest == nil {
		return localVarReturnValue, nil, reportError("biListTemplateRowsRequest is required and must be specified")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "form", "")
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "form", "")
	} else {
		var defaultValue string = "asc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "form", "")
		r.sortDirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.biListTemplateRowsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListBiTemplateTimeSeriesRequest struct {
	ctx context.Context
	ApiService BIAPI
	templateId string
	attributeIds *string
	start *int32
	end *int32
	biListTemplateRowsRequest *BiListTemplateRowsRequest
	aggregateFunc *string
	bucketWidth *string
}

// Comma-separated metric attribute UUIDs to aggregate
func (r ApiListBiTemplateTimeSeriesRequest) AttributeIds(attributeIds string) ApiListBiTemplateTimeSeriesRequest {
	r.attributeIds = &attributeIds
	return r
}

// Start timestamp as Unix epoch in seconds
func (r ApiListBiTemplateTimeSeriesRequest) Start(start int32) ApiListBiTemplateTimeSeriesRequest {
	r.start = &start
	return r
}

// End timestamp as Unix epoch in seconds
func (r ApiListBiTemplateTimeSeriesRequest) End(end int32) ApiListBiTemplateTimeSeriesRequest {
	r.end = &end
	return r
}

func (r ApiListBiTemplateTimeSeriesRequest) BiListTemplateRowsRequest(biListTemplateRowsRequest BiListTemplateRowsRequest) ApiListBiTemplateTimeSeriesRequest {
	r.biListTemplateRowsRequest = &biListTemplateRowsRequest
	return r
}

// Aggregation function applied within each time bucket
func (r ApiListBiTemplateTimeSeriesRequest) AggregateFunc(aggregateFunc string) ApiListBiTemplateTimeSeriesRequest {
	r.aggregateFunc = &aggregateFunc
	return r
}

// Time bucket width interval (e.g. 1 minute, 5 minutes, 1 hour, 1 day)
func (r ApiListBiTemplateTimeSeriesRequest) BucketWidth(bucketWidth string) ApiListBiTemplateTimeSeriesRequest {
	r.bucketWidth = &bucketWidth
	return r
}

func (r ApiListBiTemplateTimeSeriesRequest) Execute() (*BiTimeSeriesResponse, *http.Response, error) {
	return r.ApiService.ListBiTemplateTimeSeriesExecute(r)
}

/*
ListBiTemplateTimeSeries List aggregated time-series rows for BI integration

Returns aggregated, time-bucketed metric data points across entities of a template schema for BI and analytical visualization tools.

### Combined Dimension Filtering & Metric Aggregation
Combines entity dimension filtering (scoped via the `filters` and `global_search` body payload) with time-series rollup across the specified `attribute_ids`.

### Aggregation Functions (`aggregate_func`)
- `avg` (default), `sum`, `min`, `max`, `count`, `first`, `last`.

### Bucket Intervals (`bucket_width`)
Values follow standard time interval notation: `1 second`, `5 seconds`, `10 seconds`, `1 minute` (1m), `5 minutes` (5m), `10 minutes`, `15 minutes`, `30 minutes`, `1 hour` (1h), `6 hours`, `12 hours`, `1 day` (1d), `1 week`, `1 month`.

### Query Window (`start` & `end`)
Specified as integer Unix epoch seconds bounding the telemetry observations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param templateId Unique identifier (UUID) of the template schema
 @return ApiListBiTemplateTimeSeriesRequest
*/
func (a *BIAPIService) ListBiTemplateTimeSeries(ctx context.Context, templateId string) ApiListBiTemplateTimeSeriesRequest {
	return ApiListBiTemplateTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
		templateId: templateId,
	}
}

// Execute executes the request
//  @return BiTimeSeriesResponse
func (a *BIAPIService) ListBiTemplateTimeSeriesExecute(r ApiListBiTemplateTimeSeriesRequest) (*BiTimeSeriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BiTimeSeriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BIAPIService.ListBiTemplateTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bi/templates/{template_id}/time-series"
	localVarPath = strings.Replace(localVarPath, "{"+"template_id"+"}", url.PathEscape(parameterValueToString(r.templateId, "templateId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.attributeIds == nil {
		return localVarReturnValue, nil, reportError("attributeIds is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.end == nil {
		return localVarReturnValue, nil, reportError("end is required and must be specified")
	}
	if r.biListTemplateRowsRequest == nil {
		return localVarReturnValue, nil, reportError("biListTemplateRowsRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "attribute_ids", r.attributeIds, "form", "")
	if r.aggregateFunc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregate_func", r.aggregateFunc, "form", "")
	} else {
		var defaultValue string = "avg"
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregate_func", defaultValue, "form", "")
		r.aggregateFunc = &defaultValue
	}
	if r.bucketWidth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_width", r.bucketWidth, "form", "")
	} else {
		var defaultValue string = "1 hour"
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_width", defaultValue, "form", "")
		r.bucketWidth = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.biListTemplateRowsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
