openapi: 3.0.0
info:
  description: API Documentation for Omnismith
  title: Omnismith API
  version: 1.0.7
servers:
- description: Production Server
  url: https://api.omnismith.io/v1
- description: Local Development Server
  url: http://localhost:8100
tags:
- description: AccessTokens
  name: AccessTokens
- description: Attributes
  name: Attributes
- description: Auth
  name: Auth
- description: Automation - Automations
  name: Automation - Automations
- description: Automation - Notification Channels
  name: Automation - Notification Channels
- description: Automation - Push Devices
  name: Automation - Push Devices
- description: Billing
  name: Billing
- description: Dashboards
  name: Dashboards
- description: Dashboard Blocks
  name: Dashboard Blocks
- description: Schema
  name: Schema
- description: Entity
  name: Entity
- description: Feedback
  name: Feedback
- description: FileAttachment
  name: FileAttachment
- description: Marketplace
  name: Marketplace
- description: Projects
  name: Projects
- description: Roles
  name: Roles
- description: SavedQueries
  name: SavedQueries
- description: Templates
  name: Templates
- description: User
  name: User
paths:
  /access-tokens:
    get:
      description: Returns all access tokens for the current user and project.
      operationId: listAccessTokens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAccessTokens_200_response"
          description: Access tokens
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List API access tokens
      tags:
      - AccessTokens
    post:
      description: Creates a new API access token for the current user and project.
        The raw API key is returned once in the response and cannot be retrieved again.
      operationId: createAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccessTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAccessToken_201_response"
          description: Access token created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create an API access token
      tags:
      - AccessTokens
  /access-tokens/{id}:
    delete:
      operationId: deleteAccessToken
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete an API access token
      tags:
      - AccessTokens
  /attributes/{id}/items:
    get:
      operationId: listAttributeItems
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAttributeItems_200_response"
          description: List of items
      security:
      - bearerAuth: []
      summary: List items of an attribute
      tags:
      - Attributes
    post:
      operationId: createAttributeItem
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddListItemRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Item created
        "404":
          description: Attribute not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Add a list item to an attribute
      tags:
      - Attributes
    put:
      operationId: setAttributeItems
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetListItemsRequest"
        required: true
      responses:
        "204":
          description: Items updated
        "400":
          description: Attribute is not a List type
        "404":
          description: Attribute not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set list items for an attribute (replaces all existing items)
      tags:
      - Attributes
  /attributes:
    get:
      operationId: listAttributes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAttributes_200_response"
          description: List of attributes
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List attributes
      tags:
      - Attributes
    post:
      operationId: createAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttributeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Attribute created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new attribute
      tags:
      - Attributes
  /attributes/{id}:
    delete:
      operationId: deleteAttribute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Attribute deleted
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete an attribute
      tags:
      - Attributes
    get:
      operationId: getAttribute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeResponse"
          description: Attribute details
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get an attribute
      tags:
      - Attributes
    put:
      operationId: updateAttribute
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAttributeRequest"
        required: true
      responses:
        "204":
          description: Attribute updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update an attribute
      tags:
      - Attributes
  /attributes/{id}/reference:
    delete:
      operationId: deleteAttributeReferenceConfig
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Reference config deleted
      security:
      - bearerAuth: []
      summary: Delete reference configuration for an attribute
      tags:
      - Attributes
    get:
      operationId: getAttributeReferenceConfig
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferenceConfigResponse"
          description: Reference config
        "404":
          description: Reference config not found
      security:
      - bearerAuth: []
      summary: Get reference configuration for an attribute
      tags:
      - Attributes
    put:
      operationId: setAttributeReferenceConfig
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetReferenceConfigRequest"
        required: true
      responses:
        "204":
          description: Reference config updated
        "400":
          description: Attribute is not a Reference type
        "404":
          description: Attribute not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set or update reference configuration for an attribute
      tags:
      - Attributes
  /attributes/{id}/items/{itemId}:
    delete:
      operationId: deleteAttributeItem
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: List Item ID
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Item removed
        "404":
          description: Item or Attribute not found
      security:
      - bearerAuth: []
      summary: Remove a list item from an attribute
      tags:
      - Attributes
    put:
      operationId: updateAttributeItem
      parameters:
      - description: Attribute ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: List Item ID
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListItemRequest"
        required: true
      responses:
        "204":
          description: Item updated
        "404":
          description: Item or Attribute not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a list item of an attribute
      tags:
      - Attributes
  /auth/me/permissions:
    get:
      description: "Returns the permissions for the authenticated user's current role.\
        \ Returns [\"*\"] for project owners (full access) or an empty array if no\
        \ role is assigned."
      operationId: getMyPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMyPermissions_200_response"
          description: List of permission strings
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current user's role permissions
      tags:
      - Auth
  /auth/google-login:
    post:
      description: "Authenticates a user using a Google ID token. If the user does\
        \ not exist, a new account is automatically created."
      operationId: googleLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/googleLogin_200_response"
          description: Login successful
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
        "401":
          description: Invalid Google token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Login or register via Google Sign-In
      tags:
      - Auth
  /auth/sessions:
    get:
      operationId: listSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSessions_200_response"
          description: List of sessions
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List recent login sessions
      tags:
      - Auth
  /auth/login:
    post:
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/googleLogin_200_response"
          description: Login successful
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
        "401":
          description: Invalid credentials
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Login user
      tags:
      - Auth
  /auth/refresh:
    post:
      description: Exchange a valid refresh token for a new access token and refresh
        token. The old refresh token is invalidated (rotation).
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_200_response"
          description: Token refresh successful
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_401_response"
          description: "Invalid, expired, or revoked refresh token"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Refresh access token
      tags:
      - Auth
  /auth/sessions/{id}:
    delete:
      operationId: revokeSession
      parameters:
      - description: Session ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Session revoked
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Session not found
      security:
      - bearerAuth: []
      summary: Revoke a login session
      tags:
      - Auth
  /auth/switch-project:
    post:
      operationId: switchProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchProjectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/googleLogin_200_response"
          description: Project switched successfully
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
        "401":
          description: Unauthorized
        "403":
          description: Access Denied to Project
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Switch active project context
      tags:
      - Auth
  /automation/automations:
    get:
      operationId: listAutomations
      parameters:
      - description: Filter by template ID
        explode: true
        in: query
        name: templateId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter by enabled status
        explode: true
        in: query
        name: isEnabled
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AutomationResponse"
                type: array
          description: List of automations
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List automations
      tags:
      - Automation - Automations
    post:
      operationId: createAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAutomationRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Automation created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new automation
      tags:
      - Automation - Automations
  /automation/notification-channels:
    get:
      operationId: listNotificationChannels
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listNotificationChannels_200_response"
          description: List of channels
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List all notification channels
      tags:
      - Automation - Notification Channels
    post:
      operationId: createNotificationChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationChannelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Channel created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new notification channel
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}:
    delete:
      operationId: deleteAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Automation deleted
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: Delete an automation
      tags:
      - Automation - Automations
    get:
      operationId: getAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationResponse"
          description: Automation details
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: Get an automation by ID
      tags:
      - Automation - Automations
    put:
      operationId: updateAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAutomationRequest"
        required: true
      responses:
        "204":
          description: Automation updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update an automation
      tags:
      - Automation - Automations
  /automation/notification-channels/{id}:
    delete:
      operationId: deleteNotificationChannel
      parameters:
      - description: Channel UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Channel deleted
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a notification channel
      tags:
      - Automation - Notification Channels
    get:
      operationId: getNotificationChannel
      parameters:
      - description: Channel UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
          description: Channel details
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get a notification channel
      tags:
      - Automation - Notification Channels
    put:
      operationId: updateNotificationChannel
      parameters:
      - description: Channel UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationChannelRequest"
        required: true
      responses:
        "204":
          description: Channel updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a notification channel
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}/executions:
    get:
      operationId: listAutomationExecutions
      parameters:
      - description: Automation ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Number of results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      - description: Pagination offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter by status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - success
          - partial_failure
          - failed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAutomationExecutions_200_response"
          description: List of executions
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: List automation executions
      tags:
      - Automation - Automations
  /automation/push-devices:
    delete:
      operationId: unregisterPushDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnregisterPushDeviceRequest"
        required: true
      responses:
        "204":
          description: Device unregistered
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Unregister a push notification device token
      tags:
      - Automation - Push Devices
    get:
      operationId: listPushDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPushDevices_200_response"
          description: List of push devices
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List the current user's registered push devices
      tags:
      - Automation - Push Devices
    post:
      operationId: registerPushDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterPushDeviceRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Device registered
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Register a push notification device token
      tags:
      - Automation - Push Devices
  /automation/notification-channels/{id}/test:
    post:
      operationId: testNotificationChannel
      parameters:
      - description: Channel UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestNotificationChannelRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/testNotificationChannel_200_response"
          description: Test message sent successfully
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/testNotificationChannel_422_response"
          description: Test failed
      security:
      - bearerAuth: []
      summary: Send a test message via the notification channel
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}/toggle:
    patch:
      operationId: toggleAutomation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleAutomationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationResponse"
          description: Automation toggled
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: Toggle automation enabled status
      tags:
      - Automation - Automations
  /billing/checkout:
    post:
      description: Creates a LemonSqueezy checkout session to subscribe to a paid
        tier. Returns a URL to redirect the user to complete payment.
      operationId: createCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponse"
          description: Checkout session created successfully
        "400":
          description: "Invalid tier level (e.g., Free tier)"
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a checkout session for subscription
      tags:
      - Billing
  /billing/tiers:
    get:
      operationId: getAllTiers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllTiers_200_response"
          description: List of all tiers
      summary: List all available tiers
      tags:
      - Billing
  /billing/portal:
    get:
      description: "Returns a LemonSqueezy customer portal URL where users can manage\
        \ their subscription (cancel, update payment method, view invoices)."
      operationId: getPortalUrl
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalUrlResponse"
          description: Portal URL retrieved successfully
        "401":
          description: Unauthorized
        "404":
          description: No active subscription found
      security:
      - bearerAuth: []
      summary: Get customer portal URL
      tags:
      - Billing
  /billing/usage/insights:
    get:
      operationId: getUsageInsights
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageInsightsResponse"
          description: Tier usage insights with limits and percentages
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current tier usage insights
      tags:
      - Billing
  /billing/tier:
    get:
      operationId: getUserTier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TierResponse"
          description: User tier details
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current user tier
      tags:
      - Billing
  /billing/log-usage:
    post:
      operationId: logAiUsage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogAiUsageRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/logAiUsage_200_response"
          description: Usage logged successfully
      security:
      - bearerAuth: []
      summary: Log AI usage credits
      tags:
      - Billing
  /dashboards:
    get:
      operationId: listDashboards
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboards_200_response"
          description: List of dashboards
      security:
      - bearerAuth: []
      summary: List all dashboards
      tags:
      - Dashboards
    post:
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDashboardRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Dashboard created
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Create a new dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}/blocks:
    get:
      operationId: listDashboardBlocks
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboardBlocks_200_response"
          description: List of blocks
      security:
      - bearerAuth: []
      summary: List all blocks in a dashboard
      tags:
      - Dashboard Blocks
    post:
      operationId: createDashboardBlock
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDashboardBlockRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Block created
        "404":
          description: Dashboard not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Create a new block in a dashboard
      tags:
      - Dashboard Blocks
  /dashboards/{id}:
    delete:
      operationId: deleteDashboard
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Dashboard deleted
        "404":
          description: Dashboard not found
      security:
      - bearerAuth: []
      summary: Delete a dashboard
      tags:
      - Dashboards
    get:
      operationId: getDashboard
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
          description: Dashboard details
        "404":
          description: Dashboard not found
      security:
      - bearerAuth: []
      summary: Get a dashboard by ID
      tags:
      - Dashboards
    put:
      operationId: updateDashboard
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDashboardRequest"
        required: true
      responses:
        "200":
          description: Dashboard updated
        "404":
          description: Dashboard not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}/blocks/{blockId}:
    delete:
      operationId: deleteDashboardBlock
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Block ID
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Block deleted
        "404":
          description: Block not found
      security:
      - bearerAuth: []
      summary: Delete a dashboard block
      tags:
      - Dashboard Blocks
    get:
      operationId: getDashboardBlock
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Block ID
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardBlockResponse"
          description: Block details
        "404":
          description: Block not found
      security:
      - bearerAuth: []
      summary: Get a dashboard block by ID
      tags:
      - Dashboard Blocks
    put:
      operationId: updateDashboardBlock
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Block ID
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDashboardBlockRequest"
        required: true
      responses:
        "200":
          description: Block updated
        "404":
          description: Block not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a dashboard block
      tags:
      - Dashboard Blocks
  /dashboards/{dashboardId}/blocks/{blockId}/resolve:
    get:
      description: "Executes the block configuration and returns computed values based\
        \ on block type (stat count, gauge value, chart series, or list items)"
      operationId: resolveDashboardBlock
      parameters:
      - description: Dashboard ID
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Block ID
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvedBlockResponse"
          description: Resolved block data
        "404":
          description: Block not found
      security:
      - bearerAuth: []
      summary: Resolve a dashboard block to its computed data
      tags:
      - Dashboard Blocks
  /discovery/project-schema:
    get:
      description: "Returns all attributes, templates, list items, and reference configs\
        \ in a single response"
      operationId: getProjectSchema
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSchemaResponse"
          description: Project schema
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get complete project schema
      tags:
      - Schema
  /entities:
    post:
      operationId: createEntity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEntityRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Entity created
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new entity
      tags:
      - Entity
  /entities/{id}:
    delete:
      operationId: deleteEntity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Entity deleted
        "404":
          description: Entity not found
      security:
      - bearerAuth: []
      summary: Delete an entity
      tags:
      - Entity
    get:
      operationId: getEntity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityResponse"
          description: Entity details
        "404":
          description: Entity not found
      security:
      - bearerAuth: []
      summary: Get an entity
      tags:
      - Entity
    put:
      operationId: updateEntity
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEntityRequest"
        required: true
      responses:
        "204":
          description: Entity updated
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "404":
          description: Entity not found
      security:
      - bearerAuth: []
      summary: Update an entity
      tags:
      - Entity
  /entities/export/{template_id}:
    post:
      description: Export entities matching the given filters to a CSV file. Uses
        the same filters as the search endpoint.
      operationId: exportEntities
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Attribute ID to sort by (UUID) OR one of: id, created_at, updated_at,\
          \ deleted_at"
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Sort direction (only used when sort_field is provided)
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExportEntitiesRequest"
        required: true
      responses:
        "200":
          content:
            text/csv:
              schema:
                format: binary
                type: string
          description: CSV file download
          headers:
            Content-Disposition:
              description: Attachment filename
              explode: false
              schema:
                example: attachment; filename="export_Template_2026-01-18_14-30-00.csv"
                type: string
              style: simple
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Template not found
      security:
      - bearerAuth: []
      summary: Export entities to CSV
      tags:
      - Entity
  /entities/{id}/chart:
    get:
      operationId: getEntityChart
      parameters:
      - description: Entity ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Comma-separated attribute IDs
        explode: true
        in: query
        name: attribute_ids
        required: true
        schema:
          type: string
        style: form
      - description: Aggregate function
        explode: true
        in: query
        name: aggregate_func
        required: false
        schema:
          default: avg
          enum:
          - sum
          - avg
          - min
          - max
          - count
          - first
          - last
          type: string
        style: form
      - description: Time bucket width (PostgreSQL interval)
        explode: true
        in: query
        name: bucket_width
        required: false
        schema:
          default: 1 hour
          enum:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 1 minute
          - 5 minutes
          - 10 minutes
          - 15 minutes
          - 30 minutes
          - 1 hour
          - 6 hours
          - 12 hours
          - 1 day
          - 1 week
          - 1 month
          type: string
        style: form
      - description: Start timestamp (Unix seconds)
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: integer
        style: form
      - description: End timestamp (Unix seconds)
        explode: true
        in: query
        name: end
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEntityChart_200_response"
          description: Chart time-series data grouped by attribute
      summary: Get entity chart time-series data
      tags:
      - Entity
  /entities/{id}/history:
    get:
      operationId: getEntityHistory
      parameters:
      - description: Entity ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          type: integer
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - attribute_id
          - value
          type: string
        style: form
      - explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: attribute_ids
        required: false
        schema:
          description: Comma separated attribute IDs
          type: string
        style: form
      - description: Filter logs created after this timestamp
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter logs created before this timestamp
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter logs by author email
        explode: true
        in: query
        name: author_email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getEntityHistory_200_response"
          description: Entity history
      summary: Get entity history
      tags:
      - Entity
  /entities/import/{template_id}:
    post:
      description: "Import entities from a CSV file. Supports upsert: creates new\
        \ entities or updates existing ones based on the ID column. The CSV must include\
        \ a metadata row (row 2) with attribute IDs prefixed by #."
      operationId: importEntities
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/importEntities_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/importEntities_200_response"
          description: Import completed
        "400":
          description: Bad request (invalid CSV format)
        "401":
          description: Unauthorized
        "403":
          description: Access denied
        "404":
          description: Template not found
      security:
      - bearerAuth: []
      summary: Import entities from CSV
      tags:
      - Entity
  /entities/search/{template_id}:
    post:
      operationId: searchEntities
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Number of results
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          type: integer
        style: form
      - description: Pagination offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "Attribute ID to sort by (UUID) OR one of: id, created_at, updated_at,\
          \ deleted_at"
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Sort direction (only used when sort_field is provided)
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchEntitiesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchEntities_200_response"
          description: Search results
      security:
      - bearerAuth: []
      summary: Search entities
      tags:
      - Entity
  /feedback:
    post:
      description: Sends a feedback email to the Omnismith support team on behalf
        of the authenticated user.
      operationId: sendFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendFeedbackRequest"
        required: true
      responses:
        "204":
          description: Feedback submitted successfully
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
      security:
      - bearerAuth: []
      summary: Submit user feedback
      tags:
      - Feedback
  /file-attachments/{id}:
    delete:
      operationId: deleteFileAttachment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: File deleted
        "404":
          description: File not found
      security:
      - bearerAuth: []
      summary: Delete a file attachment
      tags:
      - FileAttachment
    get:
      operationId: downloadFileAttachment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream: {}
          description: File content
        "404":
          description: File not found
      security:
      - bearerAuth: []
      summary: Download a file attachment
      tags:
      - FileAttachment
  /file-attachments/{id}/metadata:
    get:
      operationId: getFileAttachmentMetadata
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAttachmentResponse"
          description: File metadata
        "404":
          description: File not found
      security:
      - bearerAuth: []
      summary: Get file metadata without downloading content
      tags:
      - FileAttachment
  /file-attachments/{id}/thumbnail:
    get:
      operationId: getFileAttachmentThumbnail
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: width
        required: false
        schema:
          default: 200
          maximum: 1000
          minimum: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: height
        required: false
        schema:
          default: 200
          maximum: 1000
          minimum: 50
          type: integer
        style: form
      responses:
        "200":
          content:
            image/jpeg: {}
          description: Thumbnail image
        "400":
          description: Not an image or invalid dimensions
        "404":
          description: File not found
      security:
      - bearerAuth: []
      summary: Get image thumbnail
      tags:
      - FileAttachment
  /file-attachments:
    post:
      operationId: uploadFileAttachment
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadFileAttachment_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileAttachmentResponse"
          description: File uploaded
        "400":
          description: Bad request
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Upload a file attachment
      tags:
      - FileAttachment
  /marketplace/blueprints/{id}:
    delete:
      operationId: deleteMarketplaceBlueprint
      parameters:
      - description: Blueprint ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Blueprint deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a marketplace blueprint
      tags:
      - Marketplace
    get:
      operationId: getMarketplaceBlueprint
      parameters:
      - description: Blueprint ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMarketplaceBlueprint_200_response"
          description: Blueprint detail
        "404":
          description: Not Found
      summary: Get marketplace blueprint details
      tags:
      - Marketplace
  /marketplace/blueprints/{id}/install:
    post:
      operationId: installMarketplaceBlueprint
      parameters:
      - description: Blueprint ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallMarketplaceBlueprintRequest"
        required: true
      responses:
        "204":
          description: Blueprint installed successfully
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Blueprint not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Install a marketplace blueprint into a project
      tags:
      - Marketplace
  /marketplace/keywords:
    get:
      operationId: listMarketplaceKeywords
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listMarketplaceKeywords_200_response"
          description: Distinct keywords sorted by popularity
      summary: List all marketplace keywords with blueprint counts
      tags:
      - Marketplace
  /marketplace/blueprints:
    get:
      operationId: searchMarketplaceBlueprints
      parameters:
      - description: Free-text search on title and description
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Comma-separated keywords to filter by
        explode: true
        in: query
        name: keywords
        required: false
        schema:
          type: string
        style: form
      - description: Number of results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      - description: Pagination offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Sort field
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - installs
          - title
          type: string
        style: form
      - description: Sort direction
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Filter by featured status
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchMarketplaceBlueprints_200_response"
          description: Marketplace blueprints list
      summary: Search marketplace blueprints
      tags:
      - Marketplace
    post:
      operationId: publishMarketplaceBlueprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishMarketplaceBlueprintRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMarketplaceBlueprint_200_response"
          description: Blueprint created
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMarketplaceBlueprint_200_response"
          description: Blueprint updated
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Publish or update a marketplace blueprint
      tags:
      - Marketplace
  /projects/{id}/users:
    get:
      operationId: listProjectUsers
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProjectUsers_200_response"
          description: List of users in project
      security:
      - bearerAuth: []
      summary: List users in project
      tags:
      - Projects
    post:
      operationId: assignUserToProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignUserToProjectRequest"
        required: true
      responses:
        "200":
          description: User assigned
        "404":
          description: Project not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Assign user to project
      tags:
      - Projects
  /projects:
    get:
      operationId: listProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listProjects_200_response"
          description: List of projects
      security:
      - bearerAuth: []
      summary: List all projects
      tags:
      - Projects
    post:
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Project created
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Create a new project
      tags:
      - Projects
  /projects/{id}:
    delete:
      operationId: deleteProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Project deleted
        "404":
          description: Project not found
      security:
      - bearerAuth: []
      summary: Delete a project
      tags:
      - Projects
    get:
      operationId: getProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
          description: Project details
        "404":
          description: Project not found
      security:
      - bearerAuth: []
      summary: Get a project by ID
      tags:
      - Projects
    put:
      operationId: updateProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
        required: true
      responses:
        "200":
          description: Project updated
        "404":
          description: Project not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a project
      tags:
      - Projects
  /projects/{id}/dismiss-tour:
    post:
      description: "Marks the interactive tour as dismissed for the given project,\
        \ so it will not auto-trigger again."
      operationId: dismissProjectTour
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Tour dismissed
        "404":
          description: Project not found
      security:
      - bearerAuth: []
      summary: Dismiss the interactive tour for a project
      tags:
      - Projects
  /projects/{id}/users/invite:
    post:
      description: "Invites a user to join a project using their email address. If\
        \ the user exists, they are immediately assigned to the project with the specified\
        \ role. If the user does not exist, a pending invitation will be created (future\
        \ functionality)."
      operationId: inviteUserToProject
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserToProjectRequest"
        required: true
      responses:
        "200":
          description: User invited/assigned successfully
        "404":
          description: Project not found or user with email not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Invite user to project by email
      tags:
      - Projects
  /projects/{id}/users/{userId}:
    delete:
      operationId: removeUserFromProject
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: User removed
        "404":
          description: User not assigned to project
      security:
      - bearerAuth: []
      summary: Remove user from project
      tags:
      - Projects
  /roles:
    get:
      operationId: listRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listRoles_200_response"
          description: List of roles
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List roles
      tags:
      - Roles
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Role created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new role
      tags:
      - Roles
  /roles/{id}:
    delete:
      operationId: deleteRole
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Role deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a role
      tags:
      - Roles
    get:
      operationId: getRole
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
          description: Role details
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get a role
      tags:
      - Roles
    put:
      operationId: updateRole
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleRequest"
        required: true
      responses:
        "204":
          description: Role updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a role
      tags:
      - Roles
  /roles/{id}/permissions:
    get:
      operationId: getRolePermissions
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getRolePermissions_200_response"
          description: Role permissions
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get role permissions
      tags:
      - Roles
    put:
      operationId: setRolePermissions
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetRolePermissionsRequest"
        required: true
      responses:
        "204":
          description: Permissions updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set role permissions
      tags:
      - Roles
  /roles/{id}/resources:
    get:
      operationId: getRoleResources
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getRoleResources_200_response"
          description: Role resource restrictions
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get role resource restrictions
      tags:
      - Roles
    put:
      operationId: setRoleResources
      parameters:
      - description: Role ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetRoleResourcesRequest"
        required: true
      responses:
        "204":
          description: Resource restrictions updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set role resource restrictions
      tags:
      - Roles
  /roles/permissions/available:
    get:
      description: Returns all user-assignable permissions grouped by module. Excludes
        internal-only permissions.
      operationId: listAvailablePermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAvailablePermissions_200_response"
          description: Available permissions grouped by module
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List available permissions for role assignment
      tags:
      - Roles
  /saved-queries:
    get:
      operationId: listSavedQueries
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSavedQueries_200_response"
          description: Saved queries
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List saved queries
      tags:
      - SavedQueries
    post:
      operationId: createSavedQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSavedQueryRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Saved query created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a saved query
      tags:
      - SavedQueries
  /saved-queries/{id}:
    delete:
      operationId: deleteSavedQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a saved query
      tags:
      - SavedQueries
    get:
      operationId: getSavedQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedQueryResponse"
          description: Saved query
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get a saved query
      tags:
      - SavedQueries
  /saved-queries/{id}/execute:
    post:
      operationId: executeSavedQuery
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/executeSavedQuery_200_response"
          description: Count results
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Execute a saved query (count matches)
      tags:
      - SavedQueries
  /templates:
    get:
      operationId: listTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTemplates_200_response"
          description: List of templates
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List templates
      tags:
      - Templates
    post:
      operationId: createTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemplateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: Template created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new template
      tags:
      - Templates
  /templates/{id}:
    delete:
      operationId: deleteTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Template deleted
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete a template
      tags:
      - Templates
    get:
      operationId: getTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateResponse"
          description: Template details
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get a template
      tags:
      - Templates
    put:
      operationId: updateTemplate
      parameters:
      - description: Template ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTemplateRequest"
        required: true
      responses:
        "204":
          description: Template updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a template
      tags:
      - Templates
  /templates/entity-counts:
    get:
      operationId: listTemplateEntityCounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listTemplateEntityCounts_200_response"
          description: Counts per template
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List entity counts per template
      tags:
      - Templates
  /users/confirm-email:
    get:
      operationId: confirmUserEmail
      parameters:
      - description: The email confirmation token
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/confirmUserEmail_200_response"
          description: Email confirmed successfully
        "400":
          description: Invalid confirmation token
        "410":
          description: Confirmation token expired
      summary: Confirm a user's email address using a confirmation token
      tags:
      - User
  /users/register:
    post:
      operationId: registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUserRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: User registered successfully
        "400":
          description: Invalid input
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Failed
        "409":
          description: User already exists
      summary: Register a new user
      tags:
      - User
  /users/resend-confirmation:
    post:
      operationId: resendConfirmationEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendConfirmationEmailRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/resendConfirmationEmail_200_response"
          description: Confirmation email sent (or silently ignored if user not found)
        "429":
          description: Confirmation email already sent recently
      summary: Resend the email confirmation link
      tags:
      - User
components:
  responses:
    UnprocessableEntity:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ValidationErrorResponse"
      description: Validation Error
    QuotaExceeded:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Tier quota exceeded
  schemas:
    AccessTokenResponse:
      example:
        last_used_at: 2000-01-23T04:56:07.000+00:00
        expires_at: 2000-01-23T04:56:07.000+00:00
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        expires_at:
          format: date-time
          type: string
        created_at:
          format: date-time
          type: string
        last_used_at:
          format: date-time
          nullable: true
          type: string
      type: object
    CreateAccessTokenRequest:
      example:
        expires_at: 2000-01-23T04:56:07.000+00:00
        name: name
      properties:
        name:
          description: A label for the access token
          type: string
        expires_at:
          description: Expiration date in ISO 8601 format
          format: date-time
          type: string
      required:
      - expires_at
      - name
      type: object
    AddListItemRequest:
      example:
        id: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
        value: red
        sort_order: 0
      properties:
        value:
          example: red
          type: string
        sort_order:
          example: 0
          type: integer
        id:
          example: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
          format: uuid
          nullable: true
          type: string
      required:
      - value
      type: object
    AttributeResponse:
      description: Attribute details
      example:
        reference_config:
          target_attribute_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          target_template_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        name: name
        data_type: 6
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        attribute_type: 0
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        template_ids:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        deleted_at: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          format: uuid
          type: string
        name:
          type: string
        description:
          nullable: true
          type: string
        attribute_type:
          description: "0: Dimension, 1: Metric, 2: List, 3: Reference"
          type: integer
        data_type:
          description: "0: String, 1: Number, 2: Boolean, 3: Datetime, 4: Date, 5:\
            \ File, 6: Image"
          type: integer
        template_ids:
          items:
            format: uuid
            type: string
          type: array
        reference_config:
          $ref: "#/components/schemas/AttributeResponse_reference_config"
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
      title: Attribute Response
      type: object
    CreateAttributeRequest:
      example:
        reference_config:
          target_attribute_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          target_template_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: Color
        data_type: 0
        description: Product color
        attribute_type: 0
        template_ids:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 018b2f1b-8c1a-75b3-8000-7f0000010000
      properties:
        name:
          example: Color
          type: string
        attribute_type:
          description: "0: Dimension, 1: Metric, 2: List, 3: Reference"
          example: 0
          type: integer
        data_type:
          description: "0: String, 1: Number, 2: Boolean, 3: Datetime, 4: Date, 5:\
            \ File, 6: Image"
          example: 0
          type: integer
        template_ids:
          items:
            format: uuid
            type: string
          type: array
        description:
          example: Product color
          nullable: true
          type: string
        reference_config:
          $ref: "#/components/schemas/CreateAttributeRequest_reference_config"
        id:
          example: 018b2f1b-8c1a-75b3-8000-7f0000010000
          format: uuid
          type: string
      required:
      - attribute_type
      - data_type
      - name
      type: object
    ListItemResponse:
      example:
        attribute_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        value: value
        sort_order: 0
      properties:
        id:
          format: uuid
          type: string
        attribute_id:
          format: uuid
          type: string
        value:
          type: string
        sort_order:
          type: integer
      type: object
    ReferenceConfigResponse:
      description: Reference configuration for a Reference-type attribute
      example:
        target_attribute_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        attribute_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        target_template_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        attribute_id:
          format: uuid
          type: string
        target_template_id:
          format: uuid
          type: string
        target_attribute_id:
          format: uuid
          type: string
      title: Reference Config Response
      type: object
    ListItemInput:
      example:
        id: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
        value: red
        sort_order: 0
      properties:
        value:
          example: red
          type: string
        sort_order:
          example: 0
          type: integer
        id:
          example: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
          format: uuid
          nullable: true
          type: string
      required:
      - value
      type: object
    SetListItemsRequest:
      example:
        items:
        - id: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
          value: red
          sort_order: 0
        - id: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
          value: red
          sort_order: 0
      properties:
        items:
          items:
[...]
