openapi: 3.0.0
info:
  description: API Documentation for Omnismith
  title: Omnismith API
  version: 1.0.12
  x-logo:
    url: https://omnismith.io/logo.png
    backgroundColor: transparent
    altText: Omnismith
servers:
- description: Production Server
  url: https://api.omnismith.io/v1
- description: Local Development Server
  url: http://localhost:8100
tags:
- description: AccessTokens
  name: AccessTokens
- description: Attributes
  name: Attributes
- description: AuditLog
  name: AuditLog
- description: Auth
  name: Auth
- description: Automation - Automations
  name: Automation - Automations
- description: Automation - Notification Channels
  name: Automation - Notification Channels
- description: Automation - Push Devices
  name: Automation - Push Devices
- description: BI
  name: BI
- description: Billing
  name: Billing
- description: Dashboards
  name: Dashboards
- description: Dashboard Blocks
  name: Dashboard Blocks
- description: Schema
  name: Schema
- description: Entity
  name: Entity
- description: Feedback
  name: Feedback
- description: FileAttachment
  name: FileAttachment
- description: Marketplace
  name: Marketplace
- description: OAuth
  name: OAuth
- description: Projects
  name: Projects
- description: Roles
  name: Roles
- description: Templates
  name: Templates
- description: User
  name: User
- description: Workspaces
  name: Workspaces
paths:
  /access-tokens:
    get:
      description: "Retrieves all active and expired programmatic API access tokens\
        \ created by the authenticated user for the active project context. Returns\
        \ token metadata including unique ID, user-assigned label, creation date,\
        \ expiration timestamp, and last used timestamp. Note: raw secret API keys\
        \ are only displayed once upon generation and are never returned in list responses."
      operationId: listAccessTokens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAccessTokens_200_response"
          description: List of access token metadata records
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - bearerAuth: []
      summary: List API access tokens
      tags:
      - AccessTokens
    post:
      description: Generates a new programmatic API access token prefixed with `omni_`
        (e.g. `omni_live_secret_key_...`) for the authenticated user within the active
        project context. The token inherits the user's current role permissions and
        scopes for authenticating automated API clients and scripts. The raw secret
        key is returned exactly once in the response and cannot be recovered later.
      operationId: createAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccessTokenRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAccessToken_201_response"
          description: Access token generated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a programmatic API access token
      tags:
      - AccessTokens
  /access-tokens/{id}:
    delete:
      description: Permanently revokes and removes a programmatic API access token
        by its unique identifier. Any future API request using the revoked secret
        key will immediately fail authentication with a 401 Unauthorized status.
      operationId: deleteAccessToken
      parameters:
      - description: Unique UUIDv7 identifier of the access token to delete
        example: 0192a543-7f28-72b1-9b7e-97c997321034
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Access token deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete an API access token
      tags:
      - AccessTokens
  /attributes/{id}/items:
    get:
      description: "Retrieves all selectable choice option items for a List-type (attribute_type\
        \ = 2) attribute in ascending sort order. Each item contains its UUID, parent\
        \ attribute ID, string value, and sort rank."
      operationId: listAttributeItems
      parameters:
      - description: UUID of the List-type attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAttributeItems_200_response"
          description: List of option items for the attribute
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: List items of an attribute
      tags:
      - Attributes
    post:
      description: Appends a single selectable choice option item to a List-type (attribute_type
        = 2) attribute. Returns the generated or assigned UUID of the newly created
        list item.
      operationId: createAttributeItem
      parameters:
      - description: UUID of the List-type attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddListItemRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttributeItem_201_response"
          description: List item created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request - Attribute is not a List type
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Add a list item to an attribute
      tags:
      - Attributes
    put:
      description: "Atomically replaces all selectable option items for a List-type\
        \ (attribute_type = 2) attribute. Existing list items for this attribute are\
        \ removed and replaced with the provided array of items (with values, sort\
        \ orders, and optional custom UUIDs). Returns HTTP 400 if the target attribute\
        \ is not of List kind."
      operationId: setAttributeItems
      parameters:
      - description: UUID of the List-type attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetListItemsRequest"
        required: true
      responses:
        "204":
          description: List items replaced successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request - Attribute is not a List type
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set list items for an attribute (replaces all existing items)
      tags:
      - Attributes
  /attributes:
    get:
      description: "Retrieves all schema attributes defined in the active project.\
        \ Attributes represent the core schema building blocks across 4 kinds: Dimension\
        \ (0), Metric (1), List (2), and Reference (3). Each attribute defines its\
        \ storage data type (String: 0, Number: 1, Boolean: 2, Datetime: 3, Date:\
        \ 4, File: 5, Image: 6, Markdown: 7), unique slug, optional description, associated\
        \ templates, and reference configurations."
      operationId: listAttributes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAttributes_200_response"
          description: List of all project attributes
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List all attributes
      tags:
      - Attributes
    post:
      description: "Defines a new attribute in the project schema. Attributes can\
        \ be of kind Dimension (0), Metric (1), List (2), or Reference (3). Specify\
        \ the storage data type (String: 0, Number: 1, Boolean: 2, Datetime: 3, Date:\
        \ 4, File: 5, Image: 6, Markdown: 7), name, optional project-unique slug (auto-generated\
        \ from name if omitted), optional template associations, and an optional reference_config\
        \ if kind is Reference (3). Subject to project tier quota constraints."
      operationId: createAttribute
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAttributeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAttribute_201_response"
          description: Attribute successfully created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a new attribute
      tags:
      - Attributes
  /attributes/{id}:
    delete:
      description: "Soft-deletes an attribute from the project schema. Soft-deleted\
        \ attributes are removed from active template projections and future queries,\
        \ while existing historical dimension and telemetry records remain preserved\
        \ for audit integrity."
      operationId: deleteAttribute
      parameters:
      - description: UUID of the attribute to delete
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Attribute deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete an attribute
      tags:
      - Attributes
    get:
      description: "Retrieves complete attribute metadata by its UUID, including kind\
        \ (Dimension: 0, Metric: 1, List: 2, Reference: 3), storage data type, assigned\
        \ template IDs, creation timestamps, and reference configuration if applicable."
      operationId: getAttribute
      parameters:
      - description: UUID of the attribute to fetch
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttributeResponse"
          description: Attribute details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: Get an attribute by ID
      tags:
      - Attributes
    patch:
      description: "Applies partial modifications to an existing attribute without\
        \ overwriting omitted fields. Allows independently changing name, description,\
        \ slug, template associations, reference configuration, or transitioning data\
        \ type. Lossless data type transition rules apply when updating data_type\
        \ (Dimension only: Number(1)->String(0), Boolean(2)->String(0), Date(4)<->Datetime(3),\
        \ Date(4)/Datetime(3)->String(0), String(0)<->Markdown(7)). Template associations\
        \ merge and preserve restricted templates."
      operationId: patchAttribute
      parameters:
      - description: UUID of the attribute to patch
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchAttributeRequest"
        required: true
      responses:
        "204":
          description: Attribute patched successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Patch an attribute (granular partial update)
      tags:
      - Attributes
    put:
      description: "Performs a full update of an existing attribute definition. Supports\
        \ updating name, description, slug, template associations, reference configuration,\
        \ and lossless data type transitions. Data type transitions are permitted\
        \ only for Dimension (0) attributes and must follow lossless compatibility:\
        \ Number(1) -> String(0), Boolean(2) -> String(0), Date(4) <-> Datetime(3),\
        \ Date(4)/Datetime(3) -> String(0), and String(0) <-> Markdown(7). Non-lossless\
        \ transitions or transitions on non-dimension attributes will return HTTP\
        \ 422. Template associations preserve restricted templates the caller cannot\
        \ see."
      operationId: updateAttribute
      parameters:
      - description: UUID of the attribute to update
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAttributeRequest"
        required: true
      responses:
        "204":
          description: Attribute updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update an attribute (full replacement)
      tags:
      - Attributes
  /attributes/{id}/reference:
    delete:
      description: Removes the foreign entity reference configuration mapping from
        a Reference-type (attribute_type = 3) attribute.
      operationId: deleteAttributeReferenceConfig
      parameters:
      - description: UUID of the Reference attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Reference configuration deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: Delete reference configuration for an attribute
      tags:
      - Attributes
    get:
      description: Retrieves the relational reference target configuration for a Reference-type
        (attribute_type = 3) attribute. Returns the target template UUID and target
        display attribute UUID used for entity reference pointer resolution.
      operationId: getAttributeReferenceConfig
      parameters:
      - description: UUID of the Reference attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferenceConfigResponse"
          description: Reference configuration details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found - Reference configuration not found
      security:
      - bearerAuth: []
      summary: Get reference configuration for an attribute
      tags:
      - Attributes
    put:
      description: Sets or updates the target template and display attribute for a
        Reference-type (attribute_type = 3) attribute. Enables relational linking
        and foreign entity display label resolution. Returns HTTP 400 if the target
        attribute is not of Reference kind.
      operationId: setAttributeReferenceConfig
      parameters:
      - description: UUID of the Reference attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetReferenceConfigRequest"
        required: true
      responses:
        "204":
          description: Reference configuration updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request - Attribute is not a Reference type
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Set or update reference configuration for an attribute
      tags:
      - Attributes
  /attributes/{id}/items/{itemId}:
    delete:
      description: Permanently deletes a specific selectable option item from a List-type
        (attribute_type = 2) attribute. Validates that the list item exists and belongs
        to the specified attribute before deletion.
      operationId: deleteAttributeItem
      parameters:
      - description: UUID of the parent List attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: UUID of the list item to delete
        example: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: List item deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found - List item or Attribute not found
      security:
      - bearerAuth: []
      summary: Remove a list item from an attribute
      tags:
      - Attributes
    put:
      description: Updates the display value and/or sort order of an existing list
        item belonging to a List-type (attribute_type = 2) attribute. Validates that
        the list item exists and belongs to the specified attribute.
      operationId: updateAttributeItem
      parameters:
      - description: UUID of the parent List attribute
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: UUID of the list item to update
        example: 019a6b2c-8c3a-7c2e-8b3f-6c8a1a2b3c4d
        explode: false
        in: path
        name: itemId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateListItemRequest"
        required: true
      responses:
        "204":
          description: List item updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found - List item or Attribute not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a list item of an attribute
      tags:
      - Attributes
  /audit-logs:
    get:
      description: |-
        Returns an immutable, time-ordered audit trail of user and system events for the current project context.

        ### Security & Authorization
        Restricted to authenticated users holding the Project Owner role.

        ### Comprehensive Filtering & Search
        - `event_type`: Filter by single or comma-separated event types (e.g. `entity.created`, `entity.updated`, `entity.deleted`, `template.created`).
        - `resource_type`: Filter by domain target (e.g. `entity`, `template`, `attribute`, `project`).
        - `resource_id`: Filter by exact resource UUID.
        - `author_email`: Filter by the actor email address.
        - `start` and `end`: Date-time window bounding event occurrence (ISO 8601 or `YYYY-MM-DD HH:MM:SS`).
        - `search`: Text search across event types, resource types, resource IDs, author emails, and value summaries.

        ### Pagination & Sorting
        Supports 1-indexed pagination (`page`, `limit` up to 100) and sorting by `occurred_at`, `event_type`, `resource_type`, `resource_id`, or `author_email` (`asc`/`desc`).
      operationId: listAuditLogs
      parameters:
      - description: 1-based page number for pagination
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Number of audit log records per page (1-100)
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Field to sort audit log entries by
        example: occurred_at
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: occurred_at
          enum:
          - occurred_at
          - event_type
          - resource_type
          - resource_id
          - author_email
          type: string
        style: form
      - description: "Sort direction: \"asc\" (ascending) or \"desc\" (descending)"
        example: desc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: "Text search filter across event_type, resource_type, resource_id,\
          \ author_email, and value"
        example: entity.created
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by single or comma-separated event types (e.g. \"entity.created,entity.updated\"\
          )"
        example: entity.created
        explode: true
        in: query
        name: event_type
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by single or comma-separated resource types (e.g. \"\
          entity,template,attribute\")"
        example: entity
        explode: true
        in: query
        name: resource_type
        required: false
        schema:
          type: string
        style: form
      - description: Filter by exact resource unique identifier (UUID)
        example: 018b2f1b-8c1a-75b3-8000-7f0000010000
        explode: true
        in: query
        name: resource_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Filter by actor or author email address
        example: demo@omnismith.io
        explode: true
        in: query
        name: author_email
        required: false
        schema:
          type: string
        style: form
      - description: Filter audit records occurring on or after this timestamp (ISO
          8601 format)
        example: 2026-08-01T00:00:00Z
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Filter audit records occurring on or before this timestamp (ISO
          8601 format)
        example: 2026-08-26T23:59:59Z
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAuditLogs_200_response"
          description: Paginated list of audit log records
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
      security:
      - bearerAuth: []
      summary: List project audit logs
      tags:
      - AuditLog
  /auth/me/permissions:
    get:
      description: "Returns the complete list of permission strings granted to the\
        \ authenticated user under their active project role. Returns `[\"*\"]` for\
        \ project owners who possess full root administrative privileges, or an array\
        \ of granular permission keys (e.g. `entity.view`, `template.create`, `billing.view_usage`)\
        \ for custom assigned roles. Returns an empty array if no role is currently\
        \ assigned."
      operationId: getMyPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getMyPermissions_200_response"
          description: List of permission strings
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current user role permissions
      tags:
      - Auth
  /auth/google-login:
    post:
      description: "Authenticates a user using a Google Identity Services (GIS) ID\
        \ token. Verifies the cryptographic token signature against Google public\
        \ keys. If no account exists for the verified email address, a new user account\
        \ is automatically provisioned and verified. Returns a JWT access token and\
        \ refresh token for the active session."
      operationId: googleLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleLoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/googleLogin_200_response"
          description: Authentication successful with issued JWT access and refresh
            tokens
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Authenticate or register with Google Sign-In
      tags:
      - Auth
  /auth/google-login-redirect:
    post:
      description: "Handles Google Identity Services form-urlencoded POST redirection\
        \ (`credential` and `g_csrf_token`). Authenticates or provisions the user\
        \ account, initiates an active session, and redirects the browser (HTTP 302)\
        \ to the frontend application callback URL with JWT access and refresh tokens\
        \ embedded in the URL fragment."
      operationId: googleLoginRedirect
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/googleLoginRedirect_request"
        required: true
      responses:
        "302":
          description: Redirects to the frontend application callback route (/auth/google-callback#...)
            with authentication tokens in the URL fragment
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
      summary: Google OAuth callback redirect handler
      tags:
      - Auth
  /auth/sessions:
    get:
      description: "Retrieves all login sessions recorded for the authenticated user\
        \ across devices and browsers. Each session record includes client metadata\
        \ (IP address, User-Agent), issuance timestamp, expiration date, current status\
        \ (`active`, `expired`, `revoked`), and revocation details if applicable."
      operationId: listSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSessions_200_response"
          description: List of login session records
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List active and historical user sessions
      tags:
      - Auth
  /auth/login:
    post:
      description: "Authenticates an existing user account using email and password.\
        \ Upon successful validation, generates an active login session and returns\
        \ a short-lived JWT access token and a refresh token for rotating credentials."
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/googleLogin_200_response"
          description: Authentication successful with issued JWT access and refresh
            tokens
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Authenticate user with email and password
      tags:
      - Auth
  /auth/refresh:
    post:
      description: "Exchanges a valid refresh token for a newly issued JWT access\
        \ token and a rotated refresh token. Implements strict single-use refresh\
        \ token rotation: the supplied refresh token is permanently invalidated upon\
        \ successful exchange. If an expired, already-rotated, or revoked token is\
        \ presented, the request is rejected."
      operationId: refreshToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_200_response"
          description: Token refresh successful with rotated credentials
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshToken_401_response"
          description: "Invalid, expired, or revoked refresh token"
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      summary: Rotate refresh token and issue new access token
      tags:
      - Auth
  /auth/sessions/{id}:
    delete:
      description: "Immediately revokes a specific user login session by its unique\
        \ session ID. All refresh tokens issued within this session are invalidated,\
        \ preventing further token refreshes. If the revoked session corresponds to\
        \ the current client connection, subsequent refresh attempts will fail."
      operationId: revokeSession
      parameters:
      - description: Unique UUID identifier of the session to revoke
        example: 018b2f1b-7c3a-7d2e-8f1a-2b3c4d5e6f7a
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Session revoked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
      security:
      - bearerAuth: []
      summary: Revoke an active login session
      tags:
      - Auth
  /auth/switch-project:
    post:
      description: "Switches the active multi-tenancy project context for the authenticated\
        \ user session. Verifies that the user is an active member or owner of the\
        \ target project, then issues a new JWT access token and refresh token containing\
        \ updated claims for the selected project_id and the user's assigned role."
      operationId: switchProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SwitchProjectRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/switchProject_200_response"
          description: Project switched successfully with issued project-scoped JWT
            access and refresh tokens
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Switch active project context
      tags:
      - Auth
  /automation/automations:
    get:
      description: "Retrieves all automation rules configured within the current project\
        \ context. Automations define event-driven workflows triggered by entity lifecycle\
        \ events (such as entity creation, attribute updates, or metric threshold\
        \ changes), evaluated against multi-attribute conditions, and dispatched to\
        \ configured action channels (Telegram, webhooks, mobile push). Results can\
        \ be filtered by entity template or active status."
      operationId: listAutomations
      parameters:
      - description: Filter automations scoped to a specific entity template UUID
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60088
        explode: true
        in: query
        name: templateId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "Filter automations by active enabled status (true for active\
          \ rules, false for paused rules)"
        example: true
        explode: true
        in: query
        name: isEnabled
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AutomationResponse"
                type: array
          description: List of automation rules
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List project automations
      tags:
      - Automation - Automations
    post:
      description: "Creates a new event-driven automation rule within the current\
        \ project. Configures event trigger criteria (such as `on_entity_created`,\
        \ `on_entity_updated`, or `on_attribute_changed`), multi-condition filters\
        \ evaluating attribute values (using operators `eq`, `neq`, `gt`, `gte`, `lt`,\
        \ `lte`, `contains`, `not_contains`, `is_empty`, `is_not_empty` across current\
        \ value or delta modes), automated action targets (`telegram`, `webhook`,\
        \ `push`), and an optional cooldown window in seconds to throttle repeated\
        \ firings for the same entity."
      operationId: createAutomation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAutomationRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAutomation_201_response"
          description: Automation successfully created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create an automation rule
      tags:
      - Automation - Automations
  /automation/notification-channels:
    get:
      description: "Retrieves all notification delivery channels configured within\
        \ the current project. Channels are reusable destination targets for automation\
        \ alerts, supporting Telegram bots, external HTTP webhooks, and mobile push\
        \ notifications. Sensitive credentials are sanitized in list outputs."
      operationId: listNotificationChannels
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listNotificationChannels_200_response"
          description: List of configured notification channels
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List notification channels
      tags:
      - Automation - Notification Channels
    post:
      description: "Registers a new external notification channel for the current\
        \ project. Channels can be of type `telegram` (configured with a Telegram\
        \ bot token), `webhook` (configured with endpoint URL, custom HTTP headers,\
        \ and authentication methods such as bearer token or basic auth), or `push`\
        \ (FCM mobile push notifications). Configured channels can then be linked\
        \ as target actions in automation rules."
      operationId: createNotificationChannel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationChannelRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createNotificationChannel_201_response"
          description: Notification channel successfully created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a notification channel
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}:
    delete:
      description: "Permanently deletes an automation rule by UUID, unbinding event\
        \ listeners and stopping all future evaluations and action dispatches for\
        \ that rule."
      operationId: deleteAutomation
      parameters:
      - description: Unique automation UUID to delete
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60001
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Automation successfully deleted
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: Delete an automation
      tags:
      - Automation - Automations
    get:
      description: "Retrieves the complete configuration of a specific automation\
        \ rule by its UUID, including trigger event types, template/attribute references,\
        \ condition comparison expressions, action payloads, execution cooldown interval,\
        \ and the timestamp of its last execution."
      operationId: getAutomation
      parameters:
      - description: Unique automation UUID
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60001
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationResponse"
          description: Automation details
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: Get an automation by ID
      tags:
      - Automation - Automations
    put:
      description: "Updates an existing automation rule by UUID. Supports modifying\
        \ rule name, description, trigger event definitions, condition filter criteria,\
        \ action dispatches, and cooldown throttle settings."
      operationId: updateAutomation
      parameters:
      - description: Unique automation UUID to update
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60001
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAutomationRequest"
        required: true
      responses:
        "204":
          description: Automation successfully updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update an automation
      tags:
      - Automation - Automations
  /automation/notification-channels/{id}:
    delete:
      description: Permanently removes a notification channel from the project by
        UUID. Automations referencing this channel must be updated to prevent dispatch
        delivery failures.
      operationId: deleteNotificationChannel
      parameters:
      - description: Unique notification channel UUID to delete
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60002
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Notification channel successfully deleted
        "401":
          description: Unauthorized
        "404":
          description: Notification channel not found
      security:
      - bearerAuth: []
      summary: Delete a notification channel
      tags:
      - Automation - Notification Channels
    get:
      description: "Retrieves configuration details and status of a specific notification\
        \ channel by its UUID, including channel type, name, creation timestamp, and\
        \ credential settings for authorized project administrators."
      operationId: getNotificationChannel
      parameters:
      - description: Unique notification channel UUID
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60002
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationChannelResponse"
          description: Notification channel details
        "401":
          description: Unauthorized
        "404":
          description: Notification channel not found
      security:
      - bearerAuth: []
      summary: Get a notification channel by ID
      tags:
      - Automation - Notification Channels
    put:
      description: "Updates an existing notification channel configuration by UUID.\
        \ Allows updating the channel display name or updating integration credentials\
        \ (such as new bot tokens, webhook endpoints, or authentication credentials)."
      operationId: updateNotificationChannel
      parameters:
      - description: Unique notification channel UUID to update
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60002
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationChannelRequest"
        required: true
      responses:
        "204":
          description: Notification channel successfully updated
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Notification channel not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Update a notification channel
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}/executions:
    get:
      description: "Retrieves paginated execution logs and audit history for a specific\
        \ automation rule. Each execution log records the triggering entity ID, trigger\
        \ timestamp, execution completion time, final status (`pending`, `success`,\
        \ `partial_failure`, `failed`), detailed action dispatch outcomes with error\
        \ messages, and top-level execution errors."
      operationId: listAutomationExecutions
      parameters:
      - description: Automation UUID to fetch execution history for
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60001
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Maximum number of execution log entries to return per page
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      - description: Number of execution log records to skip for pagination
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: Filter execution logs by execution outcome status
        example: success
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - success
          - partial_failure
          - failed
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAutomationExecutions_200_response"
          description: Paginated list of execution logs
        "401":
          description: Unauthorized
        "404":
          description: Automation not found
      security:
      - bearerAuth: []
      summary: List automation execution logs
      tags:
      - Automation - Automations
  /automation/push-devices:
    delete:
      description: "Removes an FCM push notification device token from the authenticated\
        \ user profile, stopping all future automation push notifications directed\
        \ to that device."
      operationId: unregisterPushDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnregisterPushDeviceRequest"
        required: true
      responses:
        "204":
          description: Push device successfully unregistered
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Unregister a mobile push notification device
      tags:
      - Automation - Push Devices
    get:
      description: Retrieves all Firebase Cloud Messaging (FCM) mobile push devices
        registered under the authenticated user account for receiving automated push
        alerts. Device registration tokens are masked in the output for security.
      operationId: listPushDevices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listPushDevices_200_response"
          description: List of registered push notification devices
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: List registered push devices
      tags:
      - Automation - Push Devices
    post:
      description: "Registers an FCM device token under the authenticated user account\
        \ to receive real-time push notifications from automation action triggers.\
        \ If the token is already registered, its device name and activity timestamp\
        \ are updated."
      operationId: registerPushDevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterPushDeviceRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/registerPushDevice_201_response"
          description: Push device successfully registered
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Register a mobile push notification device
      tags:
      - Automation - Push Devices
  /automation/notification-channels/{id}/test:
    post:
      description: "Dispatches an immediate test notification message to verify channel\
        \ credentials, network reachability, and recipient configuration. Accepts\
        \ channel-specific parameters such as Telegram `chat_id` or push notification\
        \ `title` and `message`."
      operationId: testNotificationChannel
      parameters:
      - description: Unique notification channel UUID to test
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60002
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestNotificationChannelRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/testNotificationChannel_200_response"
          description: Test message delivered successfully
        "401":
          description: Unauthorized
        "404":
          description: Notification channel not found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/testNotificationChannel_422_response"
          description: Test message delivery failed
      security:
      - bearerAuth: []
      summary: Send a test notification message
      tags:
      - Automation - Notification Channels
  /automation/automations/{id}/toggle:
    patch:
      description: "Enables or pauses an automation rule without altering its trigger\
        \ definitions, condition criteria, or action configurations. Paused automations\
        \ are ignored during event processing."
      operationId: toggleAutomation
      parameters:
      - description: Unique automation UUID to toggle
        example: 01912ecb-4654-7890-a1b2-c3d4e5f60001
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ToggleAutomationRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationResponse"
          description: Automation status successfully toggled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Toggle automation enabled status
      tags:
      - Automation - Automations
  /bi/schema:
    get:
      description: |-
        Returns a normalized metadata catalog of all template schemas and dynamic attribute definitions in the current workspace context.

        ### BI Tooling Compatibility
        Designed for BI connectors (PowerBI, Tableau, Looker Studio, Metabase) and ETL ingestion pipelines. Translates dynamic template schemas into relational column definitions, data types (`string`, `number`, `boolean`, `datetime`, `date`), reference join keys, and allowed list options.
      operationId: getBiSchema
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiSchemaResponse"
          description: Normalized BI schema catalog
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get BI schema catalog
      tags:
      - BI
  /bi/templates/{template_id}/rows:
    post:
      description: |-
        Returns a flattened, relational row-based live dataset for a template, optimized for BI dashboards, spreadsheets, and reporting tools.

        ### Tabular Data Model
        Transforms dynamic entity records into flat rows where columns correspond to the attribute definitions retrieved from `GET /bi/schema`.

        ### Filter & Search Model
        Supports structured `filters` (operators: `eq`, `neq`, `gt`, `lt`, `like`, `not-like`, `empty`, `not-empty`) and `global_search` text queries.

        ### Sorting & Pagination
        - `sort_field`: Attribute UUID, slug, or standard column (`id`, `created_at`, `updated_at`, `deleted_at`).
        - `sort_direction`: `asc` or `desc`.
        - `limit` (max 100) and `offset` pagination.
      operationId: listBiTemplateRows
      parameters:
      - description: Unique identifier (UUID) of the template schema to query
        example: 018b2f1b-8c1a-75b3-8000-7f0000010001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Maximum number of rows to return per page (1-100)
        example: 50
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          type: integer
        style: form
      - description: Zero-based pagination offset
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: "Attribute UUID, slug, or standard field (id, created_at, updated_at,\
          \ deleted_at) to sort by"
        example: created_at
        explode: true
        in: query
        name: sort_field
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "Sort direction: \"asc\" (ascending) or \"desc\" (descending)"
        example: desc
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiListTemplateRowsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiTemplateRowsResponse"
          description: Flat dataset rows with column definitions
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: List flattened template rows for BI integration
      tags:
      - BI
  /bi/templates/{template_id}/time-series:
    post:
      description: |-
        Returns aggregated, time-bucketed metric data points across entities of a template schema for BI and analytical visualization tools.

        ### Combined Dimension Filtering & Metric Aggregation
        Combines entity dimension filtering (scoped via the `filters` and `global_search` body payload) with time-series rollup across the specified `attribute_ids`.

        ### Aggregation Functions (`aggregate_func`)
        - `avg` (default), `sum`, `min`, `max`, `count`, `first`, `last`.

        ### Bucket Intervals (`bucket_width`)
        Values follow standard time interval notation: `1 second`, `5 seconds`, `10 seconds`, `1 minute` (1m), `5 minutes` (5m), `10 minutes`, `15 minutes`, `30 minutes`, `1 hour` (1h), `6 hours`, `12 hours`, `1 day` (1d), `1 week`, `1 month`.

        ### Query Window (`start` & `end`)
        Specified as integer Unix epoch seconds bounding the telemetry observations.
      operationId: listBiTemplateTimeSeries
      parameters:
      - description: Unique identifier (UUID) of the template schema
        example: 018b2f1b-8c1a-75b3-8000-7f0000010001
        explode: false
        in: path
        name: template_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Comma-separated metric attribute UUIDs to aggregate
        example: "018b2f1b-8c1a-75b3-8000-7f0000010010,018b2f1b-8c1a-75b3-8000-7f0000010011"
        explode: true
        in: query
        name: attribute_ids
        required: true
        schema:
          type: string
        style: form
      - description: Aggregation function applied within each time bucket
        example: avg
        explode: true
        in: query
        name: aggregate_func
        required: false
        schema:
          default: avg
          enum:
          - sum
          - avg
          - min
          - max
          - count
          - first
          - last
          type: string
        style: form
      - description: "Time bucket width interval (e.g. 1 minute, 5 minutes, 1 hour,\
          \ 1 day)"
        example: 1 hour
        explode: true
        in: query
        name: bucket_width
        required: false
        schema:
          default: 1 hour
          enum:
          - 1 second
          - 5 seconds
          - 10 seconds
          - 1 minute
          - 5 minutes
          - 10 minutes
          - 15 minutes
          - 30 minutes
          - 1 hour
          - 6 hours
          - 12 hours
          - 1 day
          - 1 week
          - 1 month
          type: string
        style: form
      - description: Start timestamp as Unix epoch in seconds
        example: 1774396800
        explode: true
        in: query
        name: start
        required: true
        schema:
          type: integer
        style: form
      - description: End timestamp as Unix epoch in seconds
        example: 1774483200
        explode: true
        in: query
        name: end
        required: true
        schema:
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BiListTemplateRowsRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BiTimeSeriesResponse"
          description: Flat time-series dataset
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: List aggregated time-series rows for BI integration
      tags:
      - BI
  /billing/checkout:
    post:
      description: Creates a LemonSqueezy checkout session to subscribe to a paid
        tier. Returns a URL to redirect the user to complete payment.
      operationId: createCheckout
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponse"
          description: Checkout session created successfully
        "400":
          description: "Invalid tier level (e.g., Free tier)"
        "401":
          description: Unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Create a checkout session for subscription
      tags:
      - Billing
  /billing/tiers:
    get:
      description: "Returns the full catalog of subscription tiers (Free, Starter,\
        \ Pro, etc.) with their resource limits including max attributes, templates,\
        \ entities, dashboards, automations, notification channels, metric ingestions,\
        \ dimension updates, disk storage, and AI credits. Does not require authentication."
      operationId: getAllTiers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAllTiers_200_response"
          description: List of all tiers
      summary: List all available tiers
      tags:
      - Billing
  /billing/portal:
    get:
      description: "Returns a LemonSqueezy customer portal URL where users can manage\
        \ their subscription (cancel, update payment method, view invoices)."
      operationId: getPortalUrl
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalUrlResponse"
          description: Portal URL retrieved successfully
        "401":
          description: Unauthorized
        "404":
          description: No active subscription found
      security:
      - bearerAuth: []
      summary: Get customer portal URL
      tags:
      - Billing
  /billing/usage/insights:
    get:
      description: "Returns current resource consumption vs. tier limits for the authenticated\
        \ user. Includes usage counts (attributes, templates, entities, dashboards,\
        \ automations, channels, monthly metric ingestions, monthly dimension updates,\
        \ disk usage, AI credits), corresponding tier limits, and percentage utilization\
        \ for each resource category. Use this to check quota availability before\
        \ performing operations."
      operationId: getUsageInsights
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageInsightsResponse"
          description: Tier usage insights with limits and percentages
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current tier usage insights
      tags:
      - Billing
  /billing/tier:
    get:
      description: "Returns the authenticated user's active subscription tier, including\
        \ tier name, level, and all associated resource limits (max entities, attributes,\
        \ templates, metric ingestions, AI credits, etc.)."
      operationId: getUserTier
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TierResponse"
          description: User tier details
        "401":
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get current user tier
      tags:
      - Billing
  /billing/log-usage:
    post:
      description: "Records AI credit consumption for the authenticated user. Accepts\
        \ model name, input/output token counts, and computed credits to deduct. Used\
        \ internally by the AI service to track per-request LLM costs against the\
        \ user's monthly AI credit quota."
      operationId: logAiUsage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogAiUsageRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/logAiUsage_200_response"
          description: Usage logged successfully
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
      security:
      - bearerAuth: []
      summary: Log AI usage credits
      tags:
      - Billing
  /dashboards:
    get:
      description: "Retrieves all analytics dashboards configured within the authenticated\
        \ project context, including dashboard metadata, layout settings, and visualization\
        \ configurations."
      operationId: listDashboards
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboards_200_response"
          description: List of dashboards
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: List all dashboards
      tags:
      - Dashboards
    post:
      description: "Creates a new analytics and telemetry dashboard canvas for organizing\
        \ metric KPIs, charts, gauges, and entity tables within a customizable grid\
        \ layout."
      operationId: createDashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDashboardRequest"
        description: Dashboard creation payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboard_201_response"
          description: Dashboard created successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Tier quota exceeded
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Create a new dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}/blocks:
    get:
      description: "Retrieves all visualization blocks mounted on a dashboard canvas,\
        \ including widget types (stat KPI card, time-series chart, gauge meter, entity\
        \ list), grid position coordinates (x, y, cols, rows), template filters, and\
        \ aggregation configs."
      operationId: listDashboardBlocks
      parameters:
      - description: Parent dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDashboardBlocks_200_response"
          description: List of dashboard blocks
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: List all blocks in a dashboard
      tags:
      - Dashboard Blocks
    post:
      description: "Creates a new visualization block widget on a dashboard canvas.\
        \ Supports four block types: stat (single KPI counter of matching entities),\
        \ chart (time-series telemetry multi-line/bar graph aggregating metric data),\
        \ gauge (metric threshold gauge with min/max bounds and percentage progress),\
        \ and list (filtered and sorted entity table). Grid placement is defined via\
        \ x, y, cols, rows layout parameters."
      operationId: createDashboardBlock
      parameters:
      - description: Target dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDashboardBlockRequest"
        description: Dashboard block creation payload
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createDashboardBlock_201_response"
          description: Dashboard block created successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Create a new block in a dashboard
      tags:
      - Dashboard Blocks
  /dashboards/{id}:
    delete:
      description: "Permanently removes a dashboard and all attached visualization\
        \ blocks, metric widgets, and configurations."
      operationId: deleteDashboard
      parameters:
      - description: Dashboard unique identifier (UUID) to delete
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Dashboard deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Delete a dashboard
      tags:
      - Dashboards
    get:
      description: Retrieves metadata and top-level configuration for a specific dashboard
        by its unique identifier.
      operationId: getDashboard
      parameters:
      - description: Dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
          description: Dashboard details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Get a dashboard by ID
      tags:
      - Dashboards
    put:
      description: "Updates dashboard metadata including its display name, description,\
        \ and canvas layout settings."
      operationId: updateDashboard
      parameters:
      - description: Dashboard unique identifier (UUID) to update
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDashboardRequest"
        description: Dashboard update payload
        required: true
      responses:
        "204":
          description: Dashboard updated successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Update a dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}/blocks/{blockId}:
    delete:
      description: Permanently removes a visualization block widget from the specified
        dashboard canvas.
      operationId: deleteDashboardBlock
      parameters:
      - description: Parent dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      - description: Dashboard block unique identifier (UUID) to delete
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Dashboard block deleted successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Delete a dashboard block
      tags:
      - Dashboard Blocks
    get:
      description: "Retrieves the configuration details, grid coordinates, and data\
        \ query definitions for an individual visualization block."
      operationId: getDashboardBlock
      parameters:
      - description: Parent dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      - description: Dashboard block unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardBlockResponse"
          description: Dashboard block details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Get a dashboard block by ID
      tags:
      - Dashboard Blocks
    put:
      description: "Updates the display title, grid placement (x, y, cols, rows),\
        \ metric queries, time-series aggregation buckets, gauge bounds, or filtering\
        \ rules of an existing visualization block."
      operationId: updateDashboardBlock
      parameters:
      - description: Parent dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      - description: Dashboard block unique identifier (UUID) to update
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDashboardBlockRequest"
        description: Dashboard block update payload
        required: true
      responses:
        "204":
          description: Dashboard block updated successfully
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Validation Error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Update a dashboard block
      tags:
      - Dashboard Blocks
  /dashboards/{dashboardId}/blocks/{blockId}/resolve:
    get:
      description: "Executes the underlying data query for a dashboard block and returns\
        \ computed real-time aggregated metrics and time-series telemetry. Returns\
        \ a typed payload matching the block type: stat (matching entity count), gauge\
        \ (current metric value, min/max bounds, progress percentage), chart (time-series\
        \ data point series bucketed by time intervals with aggregation functions),\
        \ or list (hydrated entity items with dynamic attributes)."
      operationId: resolveDashboardBlock
      parameters:
      - description: Parent dashboard unique identifier (UUID)
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6b
          format: uuid
          type: string
        style: simple
      - description: Dashboard block unique identifier (UUID) to resolve and compute
        example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
        explode: false
        in: path
        name: blockId
        required: true
        schema:
          example: 0190a1b2-c3d4-7e8f-9a0b-1c2d3e4f5a6c
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvedBlockResponse"
          description: Resolved block computed data payload
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal Server Error
      security:
      - bearerAuth: []
      summary: Resolve a dashboard block to its computed data
      tags:
      - Dashboard Blocks
  /discovery/project-schema:
    get:
      description: "Retrieves the complete consolidated schema graph for the active\
        \ project in a single payload. Includes all active attributes, templates (with\
        \ attribute bindings and UI layout groups), list choice items, and foreign\
        \ entity reference configurations. Ideal for AI agents, client initialization,\
        \ metadata caching, and schema introspection."
      operationId: getProjectSchema
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSchemaResponse"
          description: Consolidated project schema definition
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - bearerAuth: []
      summary: Get complete project schema graph
      tags:
      - Schema
  /entities:
    post:
      description: |-
        Creates a new dynamic entity record conforming to a template schema.

[...]
